<div class="wrapper">
    <div class="wrapper__row">
        <div class="about">
            <h1 class="about__h1">About</h1>
            <div class="about__text"><em>Lorem ipsum dolor</em> sit amet, consectetur adipiscing elit, sed labore et dolore magna aliqua. Ut enim ad minim veniam, <em>quis nostrud</em> exercitation ullamco laboris nisi ut aliquip ex ea.</div>
            <hr class="about__hr">
        </div>
    </div>
</div>
