<div class="wrapper">
    {% include '../components/heading.twig' with heading %}
    <div class="wrapper__container about">
        <div class="about__row about__row--vision">
            <h3 class="about__h3">Our <strong>vision</strong></h3>
            <div class="about__text about__text--big">
                We make meaningful <em>climate action</em> faster and easier by mobilizing the global tech community to <em>track greenhouse gas (GHG) emissions</em> with unprecedented detail and speed.
            </div>
        </div>
        <div class="about__row about__row--members">
            <h3 class="about__h3">Our <strong>members</strong></h3>
            <div class="logos">
                <div class="logo logo--wt">
                    <img src="media/01_wt.png" alt="">
                </div>
                <div class="logo logo--ea">
                    <img src="media/02_EAlliance.png" alt="">
                </div>
                <div class="logo logo--bsa">
                    <img src="media/03_BSAlogo.png" alt="">
                </div>
                <div class="logo logo--rmi">
                    <img src="media/04_RMI_LOGO.png" alt="">
                </div>
                <div class="logo logo--ag">
                    <img src="media/05_AG_2.png" alt="">
                </div>
                <div class="logo logo--hc">
                    <img src="media/06_HC_WORDMARK_WHITE.png" alt="">
                </div>
                <div class="logo logo--hio">
                    <img src="media/07_Hypervine.png" alt="">
                </div>
                <div class="logo logo--cp">
                    <img src="media/08_carbonplan.png" alt="">
                </div>
                <div class="logo logo--eaca">
                    <img src="media/09_ECAA-logo.png" alt="">
                </div>
                <div class="logo logo--om">
                    <img src="media/10_oceanmind.png" alt="">
                </div>
            </div>
        </div>
        <div class="about__row about__row--methodology">
            <h3 class="about__h3"><strong>methodology</strong></h3>
            <p class="about__text">
                Climate Trace aims to achieve daily emissions for every square km of Earth’s surface. As a coalition, we gather satellite, ground truth and alternative data sources to maintain verified, high-coverage measurements of atmospheric carbon.
                <a href="" class="about__button">
                    <span>Read More</span>
                    <span class="button">
                        <img src="media/dotted-oval.png" alt="" class="oval-icon">
                        <img src="media/arr-down.png" alt="" class="arr-down-icon">
                    </span>
                </a>
            </p>
        </div>
        <div class="about__row about__row--partners">
            <h3 class="about__h3">Reports from <strong>our partners</strong></h3>
            <div class="about__partners">
                <div class="about__col">
                    <div class="tile tile--about">
                        <a href="#" class="tile__url"></a>
                        <div class="tile__wrapper--about">
                            <div class="tile__img"><img src="media/graphic01.jpg" alt=""></div>
                            <div class="tile__text tile__text--about">Global CO2 emissions from coal use declined from 2018.</div>
                            <hr class="tile__hr js-hr">
                        </div>
                    </div>
                </div>
                <div class="about__col">
                    <div class="tile tile--about">
                        <a href="#" class="tile__url"></a>
                        <div class="tile__wrapper--about">
                            <div class="tile__img"><img src="media/graphic03.jpg" alt=""></div>
                            <div class="tile__text tile__text--about">Global CO2 emissions from coal use declined from 2018.</div>
                            <hr class="tile__hr js-hr">
                        </div>
                    </div>
                </div>
                <div class="about__col">
                    <div class="tile tile--about">
                        <a href="#" class="tile__url"></a>
                        <div class="tile__wrapper--about">
                            <div class="tile__img"><img src="media/graphic02.jpg" alt=""></div>
                            <div class="tile__text tile__text--about">Global CO2 emissions from coal use declined from 2018.</div>
                            <hr class="tile__hr js-hr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
