<div class="banner">
    {# <figure class="banner__image">
        {% include '../components/picture.twig' with image %}
    </figure> #}
    <div class="banner__wrapper">
        <div class="banner__lead" data-animation="chars-simple"><span>{{lead|raw}}</span></div>
        <a href="/join.html" class="banner__button" data-animation="fade" data-delay="1"><span>Join the movement</span></a>
    </div>
</div>