<div class="contribute subpage">
    <div class="wrapper">
        <div class="heading heading--big" data-animation="heading">
            <h2 class="heading__title js-title">{{title}}</h2>
            <p class="heading__subtitle js-subtitle">{{subtitle}}</p>
            <div class="heading__decors">
                <hr class="heading__hr js-heading-hr">
                <img src="./media/dots-dark.png" alt="" class="heading__dots">
                <hr class="heading__hr js-heading-hr">
            </div>
        </div>
        <section class="contribute__content">
            <aside class="filters filters--aside" data-component="ContributeFilters">
                <form class="form form--filters" action="" novalidate>
                    <div class="form__subcategory">
                        <button class="form__dropdown" aria-controls="con-sector">
                            <span>Sector</span>
                            <i class="icon-arr-down"></i>
                        </button>
                        <div id="con-sector" class="hidden" aria-hidden="true">
                            <div class="form__wrap">
                                <label class="form__row">
                                    <input type="checkbox" name="sector-all" id="f-sector-all" value="all" data-all-sectors>
                                    <span class="form__checkbox"></span>
                                    <span class="form__label">All</span>
                                </label>
                                <div class="form__row--sub">
                                    <div class="form__toggle">
                                        <input type="checkbox" name="agriculture-all" id="f-sector-agriculture-all" value="agriculture-all" data-all-subsectors>
                                        <span class="form__checkbox"></span>
                                        <span class="form__label">Agriculture</span>
                                        <i class="icon-plus" aria-controls="con-agriculture"></i>
                                    </div>
                                    <div id="con-agriculture" class="hidden">
                                        <div class="form__subdropdown">
                                            <label class="form__row">
                                                <input type="checkbox" name="agriculture-enteric-fermentation" id="f-agriculture-enteric-fermentation" value="enteric-fermentation">
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Enteric Fermentation</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="agriculture-rise-cultivation" id="f-agriculture-rise-cultivation" value="rise-cultivation">
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Rise Cultivation</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="agriculture-crop-residues" id="f-agriculture-crop-residues" value="crop-residues">
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Crop Residues</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="agriculture-cultivation-soils" id="f-agriculture-cultivation-soils" value="cultivation-of-organic-soils">
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Cultivation of organic soils</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="agriculture-synthetic-fertilizer" id="f-agriculture-synthetic-fertilizer" value="synthetic-fertilizer">
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Synthetic fertilizer</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="agriculture-manure-soils" id="f-agriculture-manure-soils" value="manure-applied-to-soils">
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Manure applied to soils</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="agriculture-manure-management" id="f-agriculture-manure-management" value="manure-management">
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Manure management</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="agriculture-pasture" id="f-agriculture-pasture" value="manure-left-on-pasture">
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Manure left on pasture</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="agriculture-burning" id="f-agriculture-burning" value="burning">
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Burning</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row--sub">
                                    <div class="form__toggle">
                                        <input type="checkbox" name="forestry-all" id="f-sector-forestry-all" value="forestry-all" data-all-subsectors>
                                        <span class="form__checkbox"></span>
                                        <span class="form__label">forestry</span>
                                        <i class="icon-plus" aria-controls="con-forestry"></i>
                                    </div>
                                    <div id="con-forestry" class="hidden">
                                        <div class="form__subdropdown">
                                            <label class="form__row">
                                                <input type="checkbox" name="forestry-enteric-fermentation" id="f-forestry-enteric-fermentation" value="enteric-fermentation" data-subsector>
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Enteric Fermentation</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="forestry-rise-cultivation" id="f-forestry-rise-cultivation" value="rise-cultivation" data-subsector>
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Rise Cultivation</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="forestry-crop-residues" id="f-forestry-crop-residues" value="crop-residues" data-subsector>
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Crop Residues</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="forestry-cultivation-soils" id="f-forestry-cultivation-soils" value="cultivation-of-organic-soils" data-subsector>
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Cultivation of organic soils</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="forestry-synthetic-fertilizer" id="f-forestry-synthetic-fertilizer" value="synthetic-fertilizer" data-subsector>
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Synthetic fertilizer</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="forestry-manure-soils" id="f-forestry-manure-soils" value="manure-applied-to-soils" data-subsector>
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Manure applied to soils</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="forestry-manure-management" id="f-forestry-manure-management" value="manure-management" data-subsector>
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Manure management</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="forestry-pasture" id="f-forestry-pasture" value="manure-left-on-pasture" data-subsector>
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Manure left on pasture</span>
                                            </label>
                                            <label class="form__row">
                                                <input type="checkbox" name="forestry-burning" id="f-sector-burning" value="burning" data-subsector>
                                                <span class="form__checkbox"></span>
                                                <span class="form__label">Burning</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form__subcategory">
                        <button class="form__dropdown" aria-controls="con-location">
                            <span>Location</span>
                            <small>Select Region or Country</small>
                            <i class="icon-arr-down"></i>
                        </button>
                        <div id="con-location" class="hidden" aria-hidden="true">
                            <div class="form__wrap form__wrap--spacetop">
                                <label class="form__row">
                                    <input type="checkbox" name="location-all" id="f-location-all" value="all-location" data-all-sectors="location">
                                    <span class="form__checkbox"></span>
                                    <span class="form__label">All</span>
                                </label>
                                <div class="form__row--sub">
                                    <div class="form__toggle form__toggle--country">
                                        <input type="checkbox" name="location-asia" id="f-location-asia" value="asia" data-region>
                                        <span class="form__checkbox"></span>
                                        <span class="form__label">asia</span>
                                        <i class="icon-plus" aria-controls="con-asia"></i>
                                    </div>
                                    <div id="con-asia" class="hidden">
                                        <div class="form__subdropdown form__subdropdown--country">
                                            <div class="form__dropdownlist">
                                                <span>Select country</span><i class="icon-arr-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row--sub">
                                    <div class="form__toggle form__toggle--country">
                                        <input type="checkbox" name="location-africa" id="f-location-africa" value="africa" data-region>
                                        <span class="form__checkbox"></span>
                                        <span class="form__label">africa</span>
                                        <i class="icon-plus" aria-controls="con-africa"></i>
                                    </div>
                                    <div id="con-africa" class="hidden">
                                        <div class="form__subdropdown form__subdropdown--country">
                                            <div class="form__dropdownlist">
                                                <span>Select country</span><i class="icon-arr-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row--sub">
                                    <div class="form__toggle form__toggle--country">
                                        <input type="checkbox" name="location-europe" id="f-location-europe" value="europe" data-region>
                                        <span class="form__checkbox"></span>
                                        <span class="form__label">europe</span>
                                        <i class="icon-plus" aria-controls="con-europe"></i>
                                    </div>
                                    <div id="con-europe" class="hidden">
                                        <div class="form__subdropdown form__subdropdown--country">
                                            <div class="form__dropdownlist">
                                                <span>Select country</span><i class="icon-arr-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row--sub">
                                    <div class="form__toggle form__toggle--country">
                                        <input type="checkbox" name="location-middle-east" id="f-location-middle-east" value="middle-east" data-region>
                                        <span class="form__checkbox"></span>
                                        <span class="form__label">middle east</span>
                                        <i class="icon-plus" aria-controls="con-middle-east"></i>
                                    </div>
                                    <div id="con-middle-east" class="hidden">
                                        <div class="form__subdropdown form__subdropdown--country">
                                            <div class="form__dropdownlist">
                                                <span>Select country</span><i class="icon-arr-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row--sub">
                                    <div class="form__toggle form__toggle--country">
                                        <input type="checkbox" name="location-north-america" id="f-location-north-america" value="north-america" data-region>
                                        <span class="form__checkbox"></span>
                                        <span class="form__label">north america</span>
                                        <i class="icon-plus" aria-controls="con-north-america"></i>
                                    </div>
                                    <div id="con-north-america" class="hidden">
                                        <div class="form__subdropdown form__subdropdown--country">
                                            <div class="form__dropdownlist">
                                                <span>Select country</span><i class="icon-arr-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row--sub">
                                    <div class="form__toggle form__toggle--country">
                                        <input type="checkbox" name="location-south-central-america" id="f-location-south-central-america" value="south-central-america" data-region>
                                        <span class="form__checkbox"></span>
                                        <span class="form__label">south & central america</span>
                                        <i class="icon-plus" aria-controls="con-south-central-america"></i>
                                    </div>
                                    <div id="con-south-central-america" class="hidden">
                                        <div class="form__subdropdown form__subdropdown--country">
                                            <div class="form__dropdownlist">
                                                <span>Select country</span><i class="icon-arr-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row--sub">
                                    <div class="form__toggle form__toggle--country">
                                        <input type="checkbox" name="location-oceania" id="f-location-oceania" value="oceania" data-region>
                                        <span class="form__checkbox"></span>
                                        <span class="form__label">oceania</span>
                                        <i class="icon-plus" aria-controls="con-oceania"></i>
                                    </div>
                                    <div id="con-oceania" class="hidden">
                                        <div class="form__subdropdown form__subdropdown--country">
                                            <div class="form__dropdownlist">
                                                <span>Select country</span><i class="icon-arr-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form__subcategory">
                        <button class="form__dropdown" aria-controls="con-data">
                            <span>Data Coverage</span>
                            <i class="icon-arr-down"></i>
                        </button>
                        <div id="con-data" class="hidden" aria-hidden="true">
                            <div class="form__wrap">
                                <label class="form__row">
                                    <input type="radio" name="data-coverage" id="f-data-all" value="all-coverage">
                                    <span class="form__checkbox form__checkbox--radio"></span>
                                    <span class="form__label">All</span>
                                </label>
                                <label class="form__row">
                                    <input type="radio" name="data-coverage" id="f-data-excellent" value="excellent-coverage">
                                    <span class="form__checkbox form__checkbox--radio"></span>
                                    <span class="form__label">Excellent</span>
                                </label>
                                <label class="form__row">
                                    <input type="radio" name="data-coverage" id="f-data-good" value="good-coverage">
                                    <span class="form__checkbox form__checkbox--radio"></span>
                                    <span class="form__label">Good</span>
                                </label>
                                <label class="form__row">
                                    <input type="radio" name="data-coverage" id="f-data-fair" value="fair-coverage">
                                    <span class="form__checkbox form__checkbox--radio"></span>
                                    <span class="form__label">Fair</span>
                                </label>
                                <label class="form__row">
                                    <input type="radio" name="data-coverage" id="f-data-no-coverage" value="no-coverage">
                                    <span class="form__checkbox form__checkbox--radio"></span>
                                    <span class="form__label">no coverage</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form__subcategory">
                        <div class="form__dropdown form__dropdown--static">
                            <span>Regular Updates</span>
                            <small>Represents data updated in<br> the last 3 months</small>
                            <label class="form__row form__row--radiozip">
                                <input type="checkbox" name="regular-updates" id="f-regular-updates" value="regular-updates">
                                <span class="form__checkbox form__checkbox--radiozip"></span>
                            </label>
                        </div>
                    </div>
                </form>
            </aside>
            <div class="contribute__view">
                <div class="coverage coverage--contribute">
                    <div class="coverage__tile js-tile" data-animation="percentBox" data-uncache data-delay="0">
                        <div class="coverage__country">
                            <div class="evaluation evaluation--contribute" data-quality="2">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p>Indonesia</p>
                        </div>
                        <div class="coverage__sup"><span>Emissions model</span>Hudson Carbon</div>
                        <div class="coverage__number js-cover-num">41%</div>
                        <p class="coverage__text">of known cattle<br> operations are represented</p>
                        <span class="coverage__supplier">DATA SUPPLIER</span>
                        <div class="coverage__footer">
                            <img src="./media/coverage-logo-3.png" alt="" class="coverage__logo">
                            <div class="coverage__update">
                                <p>Updated <span class="js-update">2/15/21</span></p>
                                <p class="js-update">Next expected update - <span class="js-update">03/01/2021</span></p>
                            </div>
                        </div>
                        <span class="coverage__percent js-cover-percent"></span>
                    </div>
                    <div class="coverage__tile js-tile" data-animation="percentBox" data-uncache data-delay="0">
                        <div class="coverage__country">
                            <div class="evaluation evaluation--contribute" data-quality="3">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p>China</p>
                        </div>
                        <div class="coverage__sup"><span>Emissions model</span>Hudson Carbon</div>
                        <div class="coverage__number js-cover-num">13%</div>
                        <p class="coverage__text">of known cattle<br> operations are represented</p>
                        <span class="coverage__supplier">DATA SUPPLIER</span>
                        <div class="coverage__footer">
                            <img src="./media/coverage-logo-2.png" alt="" class="coverage__logo">
                            <div class="coverage__update">
                                <p>Updated <span class="js-update">2/15/21</span></p>
                                <p class="js-update">Next expected update - <span class="js-update">03/01/2021</span></p>
                            </div>
                        </div>
                        <span class="coverage__percent js-cover-percent"></span>
                    </div>
                    <div class="coverage__tile js-tile" data-animation="percentBox" data-uncache data-delay="0">
                        <div class="coverage__country">
                            <div class="evaluation evaluation--contribute" data-quality="1">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p>SRI LANKA</p>
                        </div>
                        <div class="coverage__sup"><span>Emissions model</span>Hudson Carbon</div>
                        <div class="coverage__number js-cover-num">63%</div>
                        <p class="coverage__text">of known cattle<br> operations are represented</p>
                        <span class="coverage__supplier">DATA SUPPLIER</span>
                        <div class="coverage__footer">
                            <img src="./media/coverage-logo-2.png" alt="" class="coverage__logo">
                            <div class="coverage__update">
                                <p>Updated <span class="js-update">2/15/21</span></p>
                                <p class="js-update">Next expected update - <span class="js-update">03/01/2021</span></p>
                            </div>
                        </div>
                        <span class="coverage__percent js-cover-percent"></span>
                    </div>
                    <div class="coverage__tile coverage__tile--nodata js-tile" data-animation="percentBox" data-uncache data-delay="0">
                        <div class="coverage__country">
                            <div class="evaluation evaluation--contribute" data-quality="1">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p>Japan</p>
                        </div>
                        <div class="coverage__sup"><span>Emissions model</span>Hudson Carbon</div>
                        <div class="coverage__number js-cover-num">data needed</div>
                        <p class="coverage__text">of known cattle<br> operations are represented</p>
                        <span class="coverage__supplier">DATA SUPPLIER</span>
                        <div class="coverage__footer">
                            <img src="./media/coverage-logo-2.png" alt="" class="coverage__logo">
                            <div class="coverage__update">
                                <p>Updated <span class="js-update">2/15/21</span></p>
                                <p class="js-update">Next expected update - <span class="js-update">03/01/2021</span></p>
                            </div>
                        </div>
                        <span class="coverage__percent js-cover-percent"></span>
                    </div>
                    <div class="coverage__tile js-tile" data-animation="percentBox" data-uncache data-delay="0">
                        <div class="coverage__country">
                            <div class="evaluation evaluation--contribute" data-quality="1">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p>Thailand</p>
                        </div>
                        <div class="coverage__sup"><span>Emissions model</span>Hudson Carbon</div>
                        <div class="coverage__number js-cover-num">76%</div>
                        <p class="coverage__text">of known cattle<br> operations are represented</p>
                        <span class="coverage__supplier">DATA SUPPLIER</span>
                        <div class="coverage__footer">
                            <img src="./media/coverage-logo-2.png" alt="" class="coverage__logo">
                            <div class="coverage__update">
                                <p>Updated <span class="js-update">2/15/21</span></p>
                                <p class="js-update">Next expected update - <span class="js-update">03/01/2021</span></p>
                            </div>
                        </div>
                        <span class="coverage__percent js-cover-percent"></span>
                    </div>
				</div>											
                <a href="" data-more class="loadmore"><span>load more</span><span class="loadmore__circle"><span class="loadmore__oval">[[svg::dotted-oval]]</span><i class="icon-arr-down"></i></span></a>
            </div>
        </section>
    </div>
</div>