<div class="explore subpage">
	<div class="wrapper">
			<div class="heading heading--big" data-animation="heading">
					<h2 class="heading__title js-title">{{title}}</h2>
					<p class="heading__subtitle js-subtitle">{{subtitle}}</p>
					<div class="heading__decors">
							<hr class="heading__hr js-heading-hr">
							<img src="./media/dots-dark.png" alt="" class="heading__dots">
							<hr class="heading__hr js-heading-hr">
					</div>
			</div>
			<div class="explore__content" data-component="Charts">
					<div class="explore__top">
							<h3 class="explore__h3">
									<span>Emissions</span>
									Explore by Sector
							</h3>
							<div class="compare-wrapper">
									<div class="compare compare--view">
											<button class="button--sort " data-chart-type="pie">
													<span>pie chart</span>
													<img src="./media/circle-chart-icon.png" alt="">
											</button>
											<hr class="hr--v">
											<button class="button--sort is-active" data-chart-type="bar">
													<img src="./media/chart-icon.png" alt="">
													<span>bar chart</span>
											</buton>
									</div>
							</div>
					</div>
					<div class="explore__body">
              <div class="explore__stat">
                  <div class="explore__num">
                      <strong data-animation="number" data-time="1"><span data-num="43.8">43.8</span></strong>
                      <span data-animation="fadeUp" data-delay="0.2">BILLION TONNES CO2e</span>
                  </div>
                  <span class="updatetime" data-animation="fadeUp" data-delay="0.4">Last updated <span class="js-time-update">3d</span></span>
                  <div class="explore__text" data-animation="fadeUp">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
							  {% include '../components/share.twig' %}
              </div>
              <div class="explore__charts chart">
                <div class="chart__view" data-chart-app="pie">
                  <div class="chart__canvas">
                    <canvas id="pie-chart"></canvas>
                  </div>
                </div>
                <div class="chart__view is-active" data-chart-app="bar">
                  <div class="chart__canvas">
                    <canvas id="bar-chart"></canvas>
                  </div>
                </div>
              </div>
					</div>
			</div>
      <div class="sector">
        <div class="heading" data-animation="heading">
            <h2 class="heading__title js-title">Sectors</h2>
            {# <a href="" class="more more--all"><i>view all</i><span></span><span></span><span></span></a> #}
            <div class="heading__decors">
                <hr class="heading__hr js-heading-hr">
                <img src="./media/dots-dark.png" alt="" class="heading__dots">
                <hr class="heading__hr js-heading-hr">
            </div>
        </div>
        <div class="sector__list">
          <div class="sector__item">
            <div class="sector__body">
              <div class="sector__info">
                <div class="sector__area">
                  <img src="./media/agriculture.png" alt="" class="sector__icon sector__icon--agriculture">
                  <span class="sector__name">Agriculture</span>
                  <p class="sector__text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
              </div>
              <div class="sector__stats">
                <div class="sector__num">
                    <strong data-animation="number" data-time="1"><span data-num="1.67">1.67</span></strong>
                    <span data-animation="fadeUp" data-delay="0.2">BILLION TONNES CO2e</span>
                </div>
                <div class="sector__facts" data-animation="itemsFade" data-uncache data-elements="js-el" data-stagger="0.15" data-y="true">
                  <span class="updatetime updatetime--sector js-el">Last updated <span class="js-time-update">3d</span></span>
                  <div class="sector__shortnumber js-el">
                    <strong>19%</strong>
                    <span>of total global<br> emissions</span>
                  </div>
                  <div class="sector__shortnumber js-el">
                    <strong>3rd</strong>
                    <span>leading<br> contributor</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sector__trigger">
              <button class="sector__toggle js-sector-toggle" aria-controls="ex-agriculture">
                <span>subsecotrs</span>
                [[svg::arrow-rects]]
              </button>
              <hr class="hr--sector">
            </div>
            <div id="ex-agriculture" class="sector__hidden" aria-hidden="true">
              <div class="table table--sector">
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <span class="table__th">CO2 EMISSIONS</span>
                    </div>
                    <div class="table__col table__col--sub">
                        <span class="table__th">subsector</span>
                    </div>
                    <div class="table__col table__col--def">
                        <span class="table__th">definition</span>
                    </div>
                    <div class="table__col table__col--src">
                        <span class="table__th">source</span>
                    </div>
                    <div class="table__col table__col--met">
                        <span class="table__th">methodology</span>
                    </div>
                    <div class="table__col table__col--data">
                        <span class="table__th">data frequency</span>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium">CAFOs</span>
                          Concentrated animal feeding operation
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Rice Cultivation</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Manure Management</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sector__item">
            <div class="sector__body">
              <div class="sector__info">
                <div class="sector__area">
                  <img src="./media/building.png" alt="" class="sector__icon sector__icon--buildings">
                  <span class="sector__name">Buildings</span>
                  <p class="sector__text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
              </div>
              <div class="sector__stats">
                <div class="sector__num">
                    <strong data-animation="number" data-time="1"><span data-num="1.67">1.67</span></strong>
                    <span data-animation="fadeUp" data-delay="0.2">BILLION TONNES CO2e</span>
                </div>
                <div class="sector__facts" data-animation="itemsFade" data-uncache data-elements="js-el" data-stagger="0.15" data-y="true">
                  <span class="updatetime updatetime--sector js-el">Last updated <span class="js-time-update">3d</span></span>
                  <div class="sector__shortnumber js-el">
                    <strong>19%</strong>
                    <span>of total global<br> emissions</span>
                  </div>
                  <div class="sector__shortnumber js-el">
                    <strong>3rd</strong>
                    <span>leading<br> contributor</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sector__trigger">
              <button class="sector__toggle js-sector-toggle" aria-controls="ex-buildings">
                <span>subsecotrs</span>
                [[svg::arrow-rects]]
              </button>
              <hr class="hr--sector">
            </div>
            <div id="ex-buildings" class="sector__hidden" aria-hidden="true">
              <div class="table table--sector">
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <span class="table__th">CO2 EMISSIONS</span>
                    </div>
                    <div class="table__col table__col--sub">
                        <span class="table__th">subsector</span>
                    </div>
                    <div class="table__col table__col--def">
                        <span class="table__th">definition</span>
                    </div>
                    <div class="table__col table__col--src">
                        <span class="table__th">source</span>
                    </div>
                    <div class="table__col table__col--met">
                        <span class="table__th">methodology</span>
                    </div>
                    <div class="table__col table__col--data">
                        <span class="table__th">data frequency</span>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium">CAFOs</span>
                          Concentrated animal feeding operation
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Rice Cultivation</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Manure Management</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sector__item">
            <div class="sector__body">
              <div class="sector__info">
                <div class="sector__area">
                  <img src="./media/electricity.png" alt="" class="sector__icon sector__icon--electricity">
                  <span class="sector__name">Electricity</span>
                  <p class="sector__text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
              </div>
              <div class="sector__stats">
                <div class="sector__num">
                    <strong data-animation="number" data-time="1"><span data-num="1.67">1.67</span></strong>
                    <span data-animation="fadeUp" data-delay="0.2">BILLION TONNES CO2e</span>
                </div>
                <div class="sector__facts" data-animation="itemsFade" data-uncache data-elements="js-el" data-stagger="0.15" data-y="true">
                  <span class="updatetime updatetime--sector js-el">Last updated <span class="js-time-update">3d</span></span>
                  <div class="sector__shortnumber js-el">
                    <strong>19%</strong>
                    <span>of total global<br> emissions</span>
                  </div>
                  <div class="sector__shortnumber js-el">
                    <strong>3rd</strong>
                    <span>leading<br> contributor</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sector__trigger">
              <button class="sector__toggle js-sector-toggle" aria-controls="ex-electricity">
                <span>subsecotrs</span>
                [[svg::arrow-rects]]
              </button>
              <hr class="hr--sector">
            </div>
            <div id="ex-electricity" class="sector__hidden" aria-hidden="true">
              <div class="table table--sector">
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <span class="table__th">CO2 EMISSIONS</span>
                    </div>
                    <div class="table__col table__col--sub">
                        <span class="table__th">subsector</span>
                    </div>
                    <div class="table__col table__col--def">
                        <span class="table__th">definition</span>
                    </div>
                    <div class="table__col table__col--src">
                        <span class="table__th">source</span>
                    </div>
                    <div class="table__col table__col--met">
                        <span class="table__th">methodology</span>
                    </div>
                    <div class="table__col table__col--data">
                        <span class="table__th">data frequency</span>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium">CAFOs</span>
                          Concentrated animal feeding operation
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Rice Cultivation</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Manure Management</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sector__item">
            <div class="sector__body">
              <div class="sector__info">
                <div class="sector__area">
                  <img src="./media/extractive.png" alt="" class="sector__icon sector__icon--extractive">
                  <span class="sector__name">extractive industries</span>
                  <p class="sector__text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
              </div>
              <div class="sector__stats">
                <div class="sector__num">
                    <strong data-animation="number" data-time="1"><span data-num="1.67">1.67</span></strong>
                    <span data-animation="fadeUp" data-delay="0.2">BILLION TONNES CO2e</span>
                </div>
                <div class="sector__facts" data-animation="itemsFade" data-uncache data-elements="js-el" data-stagger="0.15" data-y="true">
                  <span class="updatetime updatetime--sector js-el">Last updated <span class="js-time-update">3d</span></span>
                  <div class="sector__shortnumber js-el">
                    <strong>19%</strong>
                    <span>of total global<br> emissions</span>
                  </div>
                  <div class="sector__shortnumber js-el">
                    <strong>3rd</strong>
                    <span>leading<br> contributor</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sector__trigger">
              <button class="sector__toggle js-sector-toggle" aria-controls="ex-extractive" >
                <span>subsecotrs</span>
                [[svg::arrow-rects]]
              </button>
              <hr class="hr--sector">
            </div>
            <div id="ex-extractive" class="sector__hidden" aria-hidden="true">
              <div class="table table--sector">
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <span class="table__th">CO2 EMISSIONS</span>
                    </div>
                    <div class="table__col table__col--sub">
                        <span class="table__th">subsector</span>
                    </div>
                    <div class="table__col table__col--def">
                        <span class="table__th">definition</span>
                    </div>
                    <div class="table__col table__col--src">
                        <span class="table__th">source</span>
                    </div>
                    <div class="table__col table__col--met">
                        <span class="table__th">methodology</span>
                    </div>
                    <div class="table__col table__col--data">
                        <span class="table__th">data frequency</span>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium">CAFOs</span>
                          Concentrated animal feeding operation
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Rice Cultivation</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Manure Management</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sector__item">
            <div class="sector__body">
              <div class="sector__info">
                <div class="sector__area">
                  <img src="./media/forestry.png" alt="" class="sector__icon sector__icon--forestry">
                  <span class="sector__name">forestry</span>
                  <p class="sector__text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
              </div>
              <div class="sector__stats">
                <div class="sector__num">
                    <strong data-animation="number" data-time="1"><span data-num="1.67">1.67</span></strong>
                    <span data-animation="fadeUp" data-delay="0.2">BILLION TONNES CO2e</span>
                </div>
                <div class="sector__facts" data-animation="itemsFade" data-uncache data-elements="js-el" data-stagger="0.15" data-y="true">
                  <span class="updatetime updatetime--sector js-el">Last updated <span class="js-time-update">3d</span></span>
                  <div class="sector__shortnumber js-el">
                    <strong>19%</strong>
                    <span>of total global<br> emissions</span>
                  </div>
                  <div class="sector__shortnumber js-el">
                    <strong>3rd</strong>
                    <span>leading<br> contributor</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sector__trigger">
              <button class="sector__toggle js-sector-toggle" aria-controls="ex-forestry">
                <span>subsecotrs</span>
                [[svg::arrow-rects]]
              </button>
              <hr class="hr--sector">
            </div>
            <div id="ex-forestry" class="sector__hidden" aria-hidden="true">
              <div class="table table--sector">
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <span class="table__th">CO2 EMISSIONS</span>
                    </div>
                    <div class="table__col table__col--sub">
                        <span class="table__th">subsector</span>
                    </div>
                    <div class="table__col table__col--def">
                        <span class="table__th">definition</span>
                    </div>
                    <div class="table__col table__col--src">
                        <span class="table__th">source</span>
                    </div>
                    <div class="table__col table__col--met">
                        <span class="table__th">methodology</span>
                    </div>
                    <div class="table__col table__col--data">
                        <span class="table__th">data frequency</span>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium">CAFOs</span>
                          Concentrated animal feeding operation
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Rice Cultivation</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Manure Management</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sector__item">
            <div class="sector__body">
              <div class="sector__info">
                <div class="sector__area">
                  <img src="./media/manufacturing.png" alt="" class="sector__icon sector__icon--manufacturing">
                  <span class="sector__name">manufacturing</span>
                  <p class="sector__text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
              </div>
              <div class="sector__stats">
                <div class="sector__num">
                    <strong data-animation="number" data-time="1"><span data-num="1.67">1.67</span></strong>
                    <span data-animation="fadeUp" data-delay="0.2">BILLION TONNES CO2e</span>
                </div>
                <div class="sector__facts" data-animation="itemsFade" data-uncache data-elements="js-el" data-stagger="0.15" data-y="true">
                  <span class="updatetime updatetime--sector js-el">Last updated <span class="js-time-update">3d</span></span>
                  <div class="sector__shortnumber js-el">
                    <strong>19%</strong>
                    <span>of total global<br> emissions</span>
                  </div>
                  <div class="sector__shortnumber js-el">
                    <strong>3rd</strong>
                    <span>leading<br> contributor</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sector__trigger">
              <button class="sector__toggle js-sector-toggle" aria-controls="ex-manufacturing">
                <span>subsecotrs</span>
                [[svg::arrow-rects]]
              </button>
              <hr class="hr--sector">
            </div>
            <div id="ex-manufacturing" class="sector__hidden" aria-hidden="true">
              <div class="table table--sector">
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <span class="table__th">CO2 EMISSIONS</span>
                    </div>
                    <div class="table__col table__col--sub">
                        <span class="table__th">subsector</span>
                    </div>
                    <div class="table__col table__col--def">
                        <span class="table__th">definition</span>
                    </div>
                    <div class="table__col table__col--src">
                        <span class="table__th">source</span>
                    </div>
                    <div class="table__col table__col--met">
                        <span class="table__th">methodology</span>
                    </div>
                    <div class="table__col table__col--data">
                        <span class="table__th">data frequency</span>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium">CAFOs</span>
                          Concentrated animal feeding operation
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Rice Cultivation</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Manure Management</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sector__item">
            <div class="sector__body">
              <div class="sector__info">
                <div class="sector__area">
                  <img src="./media/transportation.png" alt="" class="sector__icon sector__icon--transportation">
                  <span class="sector__name">transportation</span>
                  <p class="sector__text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
              </div>
              <div class="sector__stats">
                <div class="sector__num">
                    <strong data-animation="number" data-time="1"><span data-num="1.67">1.67</span></strong>
                    <span data-animation="fadeUp" data-delay="0.2">BILLION TONNES CO2e</span>
                </div>
                <div class="sector__facts" data-animation="itemsFade" data-uncache data-elements="js-el" data-stagger="0.15" data-y="true">
                  <span class="updatetime updatetime--sector js-el">Last updated <span class="js-time-update">3d</span></span>
                  <div class="sector__shortnumber js-el">
                    <strong>19%</strong>
                    <span>of total global<br> emissions</span>
                  </div>
                  <div class="sector__shortnumber js-el">
                    <strong>3rd</strong>
                    <span>leading<br> contributor</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sector__trigger">
              <button class="sector__toggle js-sector-toggle" aria-controls="ex-transportation">
                <span>subsecotrs</span>
                [[svg::arrow-rects]]
              </button>
              <hr class="hr--sector">
            </div>
            <div id="ex-transportation" class="sector__hidden" aria-hidden="true">
              <div class="table table--sector">
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <span class="table__th">CO2 EMISSIONS</span>
                    </div>
                    <div class="table__col table__col--sub">
                        <span class="table__th">subsector</span>
                    </div>
                    <div class="table__col table__col--def">
                        <span class="table__th">definition</span>
                    </div>
                    <div class="table__col table__col--src">
                        <span class="table__th">source</span>
                    </div>
                    <div class="table__col table__col--met">
                        <span class="table__th">methodology</span>
                    </div>
                    <div class="table__col table__col--data">
                        <span class="table__th">data frequency</span>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium">CAFOs</span>
                          Concentrated animal feeding operation
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Rice Cultivation</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Defined by the United States Department of Agriculture (USDA), is an intensive animal feeding operation (AFO) in which over 1000 animal units are confined for over 45 days a year.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/analysis-icon-black.png" alt="" class="icon-img-curve"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                        
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">We begin with exact locations for refineries across all countries that have refining facilities. Thermal sensors are used to detect the outflow of energy from the facility and measure the emissions from combustion using a well known modeling process.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
                <div class="table__row" data-animation="fadeUp" data-uncache>
                    <div class="table__col table__col--em">
                        <p class="table__em"><strong class="js-number">5.5</strong><em class="js-unit">billion tonnes</em></p>
                        <p class="table__text"><strong class="js-percent">0.03%</strong>of total global emmisions</p>
                    </div>
                    <div class="table__col table__col--sub">
                        <p class="table__p">
                          <span class="table__medium js-subsector">Manure Management</span>
                        </p>
                    </div>
                    <div class="table__col table__col--def">
                      <p class="table__p">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="table__col table__col--src">
                        <div class="table__icons">
                          <div class="icon"><img src="./media/satellite-icon-black.png" alt="" class="icon-img-satellite"><span class="icon__tooltip"><i>Satellite imagery</i></span></div>
                          <div class="icon"><img src="./media/timer-icon-black.png" alt="" class="icon-img-time"><span class="icon__tooltip"><i>lorem ipsum</i></span></div>
                        </div>
                    </div>
                    <div class="table__col table__col--met">
                        <p class="table__p">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="table__col table__col--data">
                        <p class="table__p">Updated every<br> 3 weeks</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
