<div class="wrapper">
    <div class="wrapper__container">
        <div class="footer">
            <div class="footer__menu">
                <ul class="list">
                    <li><a href="/" class="list__url">Home</a></li>
                    <li><a href="#about" class="list__url">About us</a></li>
                    <li><a href="#methodology" class="list__url">Methodology</a></li>
                    <li><a href="#contribute" class="list__url">Contribute</a></li>
                </ul>
                <ul class="list">
                    <li><a href="/dashboard.html" class="list__url">Dashboard</a></li>
                    <li><a href="/dashboard.html" class="list__url">Explore Sectors</a></li>
                    <li><a href="#highlights" class="list__url">Highlights</a></li>
                </ul>
            </div>
            <div class="footer__bar">
            <div class="footer__logo"><a href="/">[[svg::ct-logo]]</a></div>
                <div class="footer__colophon">
                    <a href="/"><span>© 2021 Climat TRACE</span></a>
                    <ul class="list list--small">
                        <li><a class="list__url" href="">PRIVACY POLICY</a></li>
                    </ul>
                    <a href="https://www.earthrise.media/" target="_blank">Site Produced by Earthrise Media</a>
                </div>
                <div class="footer__social">
                    <a href="https://twitter.com/climatetrace" target="_blank">twitter</a>
                    <a href="https://www.linkedin.com/company/climate-trace/about/" target="_blank">linkedin</a>
                    <a href="https://github.com/climatetrace" target="_blank">github</a>
                </div>
            </div>
        </div>
    </div>
</div>