<div class="join">
    <div class="join__wrapper" >
        <h2 class="join__lead js-lead" data-animation="words-simple"><span class="join__em">Join</span> the<br> climate<br> movement<br> today.</h2>
        {% include '../components/subscribe.twig' %}
    </div>
</div>