<div class="wrapper wrapper--notfull">
    <h2 class="title__h2">Privacy Policy</h2>
    <hr class="title__hr js-hr">
    <div class="text">
        {% for text in texts %}
        <p>{{text}}</p>
        {% endfor %}
    </div>
</div>