{% if grid == true %}<div class="grid-{% if large %}11{% else %}8{% endif %}">{% endif %}
    {% if video %}
    {% include '../components/video.twig' with video %}
    {% endif %}

    {% if multiplayer %}
    {% include '../components/multiplayer.twig' with multiplayer %}
    {% endif %}

    {% if youtube %}
    {% include '../components/youtube.twig' with youtube %}
    {% endif %}

{% if grid == true %}</div>{% endif %}
