<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Page Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="media/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="media/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="media/favicons/favicon-16x16.png">
    <link rel="manifest" href="media/favicons/site.webmanifest">
    <link rel="shortcut icon" href="media/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="media/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/main.css?v={{ "now"|date("Y-m-d-H-i") }}">

	
</head>
