.card {
    $perspective: 1200px;
    $box-shadow: 0px 0px 12px rgba($color-dark, 0.1);

    position: relative;
    width: 100%;
    height: 375px;
    margin-bottom: $gutter-width;

    @include breakpoint(tablet) {
        height: 300px;
        width: 346px;
        margin-bottom: 0;
    }

    @include breakpoint(desktop) {
        height: 300px;
    }

    &.is-rotated {
        .card__body {
            transform: rotateY(-180deg);
        }

        .card__wrapper {
            transition-delay: 0s;
        }
    }

    @include hover {
        .card__body {
            transform: rotateY(-180deg);
        }

        .card__wrapper {
            transition-delay: 0s;
            // z-index: 1;
        }
    }

    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 14px;
        @include flex(row, flex-start, center);
        transition: z-index 0s 0.75s, transform 0.2s;
        cursor: pointer;
        perspective: $perspective;

        // &.is-rotated {
        //     transition-delay: 0s;
        //     z-index: 1;
        // }
    }

    &__body {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        transform-style: preserve-3d;
        transition: transform 1s $ease-in-out;
        flex: 1;
    }

    &__front,
    &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        padding: 32px 25px 13px;
        box-shadow: $box-shadow;
        transition: box-shadow $time-fast;

        @include breakpoint(desktop) {
            padding: 38px 32px 19px;
        }
    }

    &__texts {
        width: 100%;
    }

    &__front {
        z-index: 1;
        background: $color-silver;
        color: $color-dark;
        @include flex(column, space-between, flex-start);

        .card__texts {
            align-self: flex-start;
        }

        .firefox & {
            z-index: 2;
        }

        .is-rotated & {
            .ie & {
                opacity: 0;
                pointer-events: none;
            }

            // @include breakpoint(not-desktop) {
            //     .mac & {
            //         opacity: 0;
            //         pointer-events: none;
            //     }
            // }
        }
    }

    &__back {
        background: var(--color-primary);
        color: $color-white;
        transform: rotateY(180deg) translate(0%, 0);
        @include flex(column, space-between, flex-start);
        padding-bottom: 24px;
        z-index: 1;

        // .ie & {
        //     transform: rotateY(0deg) scaleX(-1) translateX(100%);
        //     transition: opacity 0.1s;
        //     transition-delay: 0.3s;
        //     opacity: 0;
        //     pointer-events: none;
        // }

        // .is-rotated & {
        //     .ie & {
        //         opacity: 1;
        //         pointer-events: all;
        //     }
        // }
    }

    &__head {
        @include flex(row, flex-start, center);

        svg {
            height: 20px;
            width: auto;
        }
    }

    &__media {
        margin-right: 5px;

        &--instagram {
            width: 20px;
            height: 20px;
            img {
                width: 100%;
            }
        }
    }

    &__date {
        @include font-size(14, 1);
        margin-left: 4px;

        i {
            font-style: normal;
            margin-right: 8px;
        }
    }

    &__content {
        font-family: $font-text;
        @include font-size(18, 21);
        letter-spacing: -0.56px;
        font-weight: 400;
        margin-top: 9px;

        @include breakpoint(desktop) {
            width: 80%;
            @include font-size(18, 22);
            margin-top: 13px;

            @include breakpoint(tablet-landscape) {
                width: 100%;
            }

            @include breakpoint(ipad-pro) {
                width: 100%;
            }
        }

        @include breakpoint(hd) {
            font-size: 1.05vw;
        }
    }

    &__footer {
        width: 100%;
        @include flex(row, space-between, center);

        .card__back & {
            position: absolute;
            bottom: 19px;
            right: 32px;
            justify-content: flex-end;
        }
    }

    &__author {
        @include flex(row, flex-start, center);

        @include breakpoint(not-desktop) {
            height: 48px;
        }

        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-right: 12px;
        }

        &-name {
            @include font-size(14, 1);
            font-family: $font-text;
            font-weight: 600;
            margin-top: 3px;

            @include breakpoint(desktop) {
                @include font-size(16, 1);
            }
        }
    }

    &__socials {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include flex(row, center, center);

        svg {
            fill: rgba($color-white, 0.8);
            transition: fill $time $easing;
        }

        a {
            @extend %social;
            margin-right: 20px;

            @include hover {
                svg {
                    fill: $color-white;
                }
            }
        }
    }

    &__flip {
        .card__front & {
            opacity: 0.6;
        }

        .card__back & {
            svg path {
                fill: $color-white;
            }
        }
    }

    &__decors {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow: hidden;
    }

    &__decor {
        position: absolute;
        top: 0;

        &--left {
            width: 43%;
            top: 16%;
            left: -12%;
        }

        &--right {
            right: -7%;
            width: 34%;
            bottom: 2%;
            top: auto;

            @include breakpoint(not-desktop) {
                bottom: 10%;
                width: 38%;
            }
        }

        img {
            width: 100%;
        }
    }
}
