.chart {
    opacity: 1 !important;

    &__tabs {
        @include flex(row, space-between, center);
    }

    &__tab {
        position: relative;
        width: percent(150px, 922, 0);
        margin-right: 12px;
        height: 108px;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        font-family: $font-main;
        @include flex(column, flex-end, flex-start);
        // transition: transform 0.4s $easing 0.05s;

        &:last-child {
            margin-right: 0;
        }

        &::after {
            @include pseudo(100%, 10px, auto, 0, currentColor, 1);
            border-radius: 0 0 5px 5px;
            transition: transform 0.3s $easing, opacity 0.3s;
            transform-origin: top center;
            bottom: 0;
        }

        &::before {
            @include pseudo(0, 0, auto, 25px, transparent, 1);
            bottom: -14px;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            transition: transform 0.3s $easing, opacity 0.3s $easing;
            transform: translateY(-14px);
            backface-visibility: hidden;
            opacity: 0;
        }

        &.is-on-chart {
            &::before {
                transform: translateY(0);
                opacity: 1;
            }
            // &::after {
            //     opacity: 0.5;
            // }
        }

        @each $key, $val in $theme-colors {
            &--#{$key} {
                background-color: #{nth($val, 2)};
                color: #{nth($val, 1)};

                &::before {
                    border-top: 15px solid #{nth($val, 1)};
                }

                // &::after {
                //     background-color: #{nth($val, 1)}
                // }
            }
        }

        @include hover {
            &::after {
                transform: scaleY(0.94);
            }

            .chart__info,
            .chart__number,
            .chart__sector {
                opacity: 1;
                transform: translateY(4px);
            }
        }
    }

    &__wrapper {
        margin-top: 60px;
        width: 100%;
        height: 480px;
    }

    &__sector {
        @include font-size(10, 15);
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        opacity: 0.5;
        z-index: 2;
        transition: transform 0.5s $easing, opacity 0.5s $easing;
        backface-visibility: hidden;
        margin: 0 0 auto 0;
        color: $color-white;

        .is-on-chart & {
            opacity: 1;
        }
    }

    &__number {
        @include font-size(24, 28);
        font-family: $font-main;
        font-weight: 700;
        position: relative;
        opacity: 0.5;
        z-index: 2;
        transition: transform 0.5s $easing, opacity 0.5s $easing;
        backface-visibility: hidden;
        color: $color-white;

        .is-on-chart & {
            opacity: 1;
        }
    }

    &__info {
        @include font-size(10, 15);
        display: block;
        font-weight: 500;
        opacity: 0.5;
        z-index: 2;
        backface-visibility: hidden;
        transition: transform 0.5s $easing, opacity 0.5s $easing;
        color: $color-white;
        margin-bottom: 7px;

        .is-on-chart & {
            opacity: 1;
        }
    }

    /// explore subpage

    &__view {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;

        &.is-active {
            opacity: 1;
            z-index: 1;
            pointer-events: all;
        }
    }

    &__canvas {
        position: relative;
    }

    &__center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 55%;
        height: 55%;
        background-color: $wild-willow;
        border-radius: 50%;
        border: 20px solid $wild-willow-lighten;
        @include flex(column, center, center);
        color: $color-white;
        font-family: $font-main;
        padding-bottom: 10px;
    }

    &__largest {
        @include font-size(70, 1);
        font-weight: 700;
    }

    &__largesticon {
        height: 52px;
        text-align: center;
    }

    &__largestname {
        @include font-size(20, 1);
        font-weight: 300;
        margin: 14px auto 10px;
        text-transform: uppercase;
    }
}
