$tab-colors: (
    blue: (
        $havelock-blue,
        $havelock-blue-lighten,
    ),
    indigo: (
        $indigo,
        $indigo-lighten,
    ),
    violet: (
        $blue-violet,
        $blue-violet-lighten,
    ),
    green: (
        $wild-willow,
        $wild-willow-lighten,
    ),
    viking: (
        $viking,
        $viking-lighten,
    ),
    winter: (
        $picton-blue,
        $picton-blue-lighten,
    ),
    gray: (
        $gull-gray,
        $gull-gray-lighten,
    ),
    shamrock: (
        $shamrock,
        $shamrock-lighten,
    ),
);

.chart {
    opacity: 1 !important;

    &__tabs {
        @include flex(row, space-between, center);
    }

    &__tab {
        position: relative;
        width: percent(150px, 922, 0);
        margin-right: 12px;
        height: 108px;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        // transition: transform 0.4s $easing 0.05s;

        &:last-child {
            margin-right: 0;
        }

        &::after {
            @include pseudo(100%, 10px, auto, 0, currentColor, 1);
            border-radius: 0 0 5px 5px;
            transition: transform 0.3s $easing, opacity 0.3s;
            transform-origin: top center;
            bottom: 0;
        }

        &::before {
            @include pseudo(0, 0, auto, 25px, transparent, 1);
            bottom: -14px;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            transition: transform 0.3s $easing, opacity 0.3s $easing;
            transform: translateY(-14px);
            backface-visibility: hidden;
            opacity: 0;
        }

        &.is-on-chart {
            &::before {
                transform: translateY(0);
                opacity: 1;
            }
            // &::after {
            //     opacity: 0.5;
            // }
        }

        @each $key, $val in $tab-colors {
            &--#{$key} {
                background-color: #{nth($val, 2)};
                color: #{nth($val, 1)};

                &::before {
                    border-top: 15px solid #{nth($val, 1)};
                }

                // &::after {
                //     background-color: #{nth($val, 1)}
                // }
            }
        }

        @include hover {
            &::after {
                transform: scaleY(0.94);
            }

            .chart__info,
            .chart__number,
            .chart__sector {
                opacity: 1;
                transform: translateY(4px);
            }
        }
    }

    &__wrapper {
        margin-top: 60px;
        width: 100%;
        height: 480px;
    }

    &__sector {
        @include font-size(10, 15);
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        opacity: 0.5;
        z-index: 2;
        transition: transform 0.5s $easing, opacity 0.5s $easing;
        backface-visibility: hidden;
        color: $color-white;

        .is-on-chart & {
            opacity: 1;
        }
    }

    &__number {
        @include font-size(24, 28);
        font-family: $font-second;
        font-weight: 700;
        position: relative;
        opacity: 0.5;
        z-index: 2;
        transition: transform 0.5s $easing, opacity 0.5s $easing;
        backface-visibility: hidden;
        color: $color-white;

        .is-on-chart & {
            opacity: 1;
        }
    }

    &__info {
        @include font-size(10, 15);
        display: block;
        font-weight: 500;
        opacity: 0.5;
        z-index: 2;
        backface-visibility: hidden;
        transition: transform 0.5s $easing, opacity 0.5s $easing;
        color: $color-white;

        .is-on-chart & {
            opacity: 1;
        }
    }
}
