.comparison {
    $radius: 7px;

    @include flex(row, space-between, flex-start);
    font-family: $font-main;

    &__col {
        width: calc(50% - 10px);
        @include flex(column, flex-start, center);
    }

    &__tile {
        position: relative;
        width: 100%;
        max-width: 595px;
        border-radius: $radius;
        background-color: $color-white;
        padding: 50px 40px 30px;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: 0 0 18px rgba($color-gray, 0.2);
        transition: box-shadow $time $easing;

        &--main {
            z-index: 2;
        }

        @include hover {
            box-shadow: 0 0 10px rgba($color-gray, 0.5);

            .comparison__delete {
                opacity: 1;
            }
        }
    }

    &__number {
        @include font-size(100, 1);
        font-weight: 700;
        display: inline-block;
        margin-bottom: -10px;
        transition: color $time $easing, transform $time-fast $easing;

        .is-higher & {
            color: $color-red;
            animation: scaling 1s $ease-in-out;
            animation-iteration-count: 1;
        }

        .is-lower & {
            color: $color-green;
            animation: fadeing 1s $ease-in-out;
            animation-iteration-count: 1;
        }
    }

    &__unit {
        font-weight: 200;
        @include font-size(32, 1);
        text-transform: uppercase;
        display: block;
        margin-bottom: 22px;
    }

    &__flex {
        padding-top: 15px;
        @include flex(row, center, center);
    }

    &__vs {
        position: absolute;
        @include circle(58);
        border: 5px solid $color-white;
        background: $color-gray;
        color: $color-white;
        text-transform: uppercase;
        @include font-size(24, 30);
        font-weight: 700;
        text-align: center;
        @include flex();
        box-shadow: 0 0 10px rgba($color-gray, 0.35);
        top: 50%;
        right: -10px;
        transform: translate(50%, -50%);
        z-index: 2;
        padding: 0 5px;

        span {
            transform: rotate(90deg);
            margin-right: 3px;

            &:last-of-type {
                transform: rotate(-90deg);
                // margin-left: 3px;
                margin-right: 0px;
            }
        }

        svg * {
            fill: $color-white;
        }
    }

    &__delete {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        @include circle(30);
        background-color: $color-gray;
        border: 2px solid rgba($color-white, 0.95);
        transition: opacity $time $easing, transform $time $easing;
        opacity: 0;

        &::after,
        &::before {
            @include pseudo(15px, 2px, 50%, 50%, $color-white, 1);
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        @include hover {
            transform: translate(50%, -50%) scale(1.1);
        }

        .is-remove-blocking & {
            display: none;
        }
    }

    &__button {
        @include circle(60);
        position: relative;
        border: 2px dotted $color-alto;
        margin-right: 24px;
        transition: transform $time $easing, border $time $easing;

        @include hover {
            transform: rotate(90deg);
            border: 2px solid $color-accent;

            span {
                background-color: $color-accent;
            }
        }

        span {
            width: 3px;
            height: 31px;
            background-color: $color-alto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: background $time $easing;

            &:first-of-type {
                transform: translate(-50%, -50%) rotate(-90deg);
            }
        }
    }

    &__add {
        background-color: $color-gray;
        border-radius: $radius;
        padding: 25px 44px;
        @include flex(row, flex-start, center);
        width: 100%;
    }

    &__adding {
        color: $color-white;
        margin-right: 19px;
        @include font-size(14);
    }

    &__or {
        color: $color-white;
        margin: 13px 20px 0 0;
    }

    &__global {
        @include font-size(11, 1);
        text-transform: uppercase;
        color: rgba($color-white, 0.7) !important;
        border: 1px solid rgba($color-white, 0.3);
        border-radius: 15px;
        padding: 8px 18px;
        margin-top: 18px;
        transition: border $time $easing, background $time $easing, color $time $easing;

        @include hover {
            border: 1px solid $color-white;
            color: $color-gray !important;
            background-color: $color-white;
        }
    }
}
