.compare {
    position: relative;
    z-index: 3;
    color: $color-gray;

    &--view {
        @include flex(row, center, center);
    }

    &__toggle {
        position: absolute;
        top: -7px;
        right: 8px;
        width: 165px;
        box-shadow: 0px 2px 10px rgba($color-black, 0.25);
        // padding-top: 40px;
        border-radius: 13px;
        background-color: $color-white;
        transition: all $time;
        height: 0;
        overflow: hidden;
        color: $color-gray;
        // padding: 10px 15px 20px;

        .is-open & {
            height: 178px;
        }
    }

    &--sector {
        &.is-open {
            .compare__toggle {
                height: 200px;
            }
        }
    }

    form {
        display: block;
        position: relative;
        padding-top: 40px;
    }

    // label {
    //     display: block;
    //     margin-bottom: 4px;
    //     @include font-size(12, 12);
    //     font-family: $font-second;
    //     font-weight: 500;
    //     letter-spacing: 0.5px;
    // }

    &__input {
        width: 135px;
        height: 40px;
        background-color: $color-tundora;
        border: 0;
        font-family: $font-second;
        color: $color-white;
        padding: 0 8px;
        @include font-size(10, 12);

        &--option {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    &__date {
        position: relative;
        width: 100%;
        @include flex(row, center, center);
        padding: 0 10px;
        margin-bottom: 8px;
        margin-top: 10px;
    }

    &__calendar {
        position: relative;

        &:first-of-type {
            margin-right: 8px;
        }
    }

    &__button {
        position: relative;
        z-index: 2;
        display: block;
        margin-left: auto;
        margin-right: 0;
        height: 30px;
        min-width: 150px;
        text-align: right;
        padding-right: 25px;
        font-family: $font-second;
        @include font-size(12, 1);

        span {
            transition: color $time-fast $easing;
            margin-right: 5px;

            // .is-open & {
            //     color: $color-gray;
            // }
        }

        .icon-arr-down {
            position: relative;
            top: -2px;

            .is-open & {
                // color: $color-white;
                transform: rotate(45deg) translate(3px, 4px) scaleY(-1);
            }
        }

        @include hover {
            span {
                color: $color-winter;
            }
        }
    }

    &__option {
        position: relative;
        width: calc(100% - 30px);
        margin: 5px 0 10px 15px;
        height: 32px;
        cursor: pointer;
        border: 1px solid rgba($color-gray, 0.5);
        border-radius: 20px;
        transition: background $time-fast $easing, border $time-fast $easing;
        text-align: center;

        @include hover {
            border: 1px solid rgba($color-winter, 0.75);
            background: rgba($color-winter, 0.2);

            .compare__label {
                color: $color-winter;
            }
        }
    }

    &__label {
        position: absolute;
        top: 50%;
        left: 0;
        height: auto;
        width: 100%;
        transform: translateY(-50%);
        @include font-size(10, 1);
        font-family: $font-sans;
        font-weight: 500;
        text-transform: uppercase;
        transition: color $time-fast $easing;
    }
}
