.filters {
    position: relative;
    width: 100%;
    // @include flex(row, flex-start, flex-start);
    height: 100%;
    padding-bottom: 24px;

    %inside {
        height: 100%;
        border-radius: $radius;
        background-color: $color-gray;
        // border: 1px solid rgba($color-white, 0.5);e
        color: $color-white;
    }

    &__label {
        font-family: $font-main;
        font-weight: 500;
        @include font-size(16, 27);
        margin-bottom: 19px;
    }

    &__panel {
        @extend %inside;
        position: relative;
        width: 100%;
        margin-right: 12px;
        padding: 30px margin(desktop) 13px;
        @include flex(row, center, flex-start);

        // &::after,
        // &::before {
        //     @include pseudo(0, 0, auto, 50px, transparent, 1);
        //     bottom: -20px;
        //     border-left: 20px solid transparent;
        //     border-right: 20px solid transparent;
        //     border-top: 20px solid $color-gray;
        //     transition: transform $time-fast $easing, opacity $time-fast $easing;
        //     transform: translateY(-10px);

        //     .is-toggled & {
        //         transform: translateY(0);
        //         opacity: 1;
        //     }
        // }

        // &::before {
        //     border-top: 20px solid $color-silver;
        //     bottom: -21px;
        //     opacity: 0;
        // }
    }

    &__clear {
        height: 48px;
        margin-left: auto;
        margin-right: 45px;
        @include font-size(11, 13);
        @include flex(row, center, center);
        width: auto;
        transition: all $time $easing;
        color: $color-white;
        width: 160px;

        span {
            font-family: $font-main;
            font-weight: 400;
            display: block;
            text-transform: uppercase;
            color: $color-white;
            margin: 0 0 0 10px;
            letter-spacing: 0.5px;
        }

        .icon-img-return {
            transition: transform $time $easing;
        }

        @include hover {
            .icon-img-return {
                transform: rotate(359deg);
            }
        }
    }

    &__search {
        position: relative;
        // user-select: none;
        width: 100%;
    }

    &__section {
        position: relative;
        height: auto;
        // border-right: 1px solid rgba($color-white, 0.5);
        padding-left: margin(desktop);
        flex: 3;

        &::after {
            @include pseudo(1px, 100%, 50%, auto, $color-white, 1);
            right: 0;
            transform: translate(0, -50%);
        }

        &:nth-of-type(1) {
            flex: 1;
            max-width: 276px;
            width: 100%;
            padding-right: margin(desktop);
            padding-left: 0;
        }

        &:last-of-type {
            width: 294px;
            flex: none;
            padding-right: 17px;
            // border: none;
            &::after {
                display: none;
            }
        }

        &--sector {
            max-width: 521px;
            padding: 0 margin(desktop);
        }
    }

    &__flex {
        @include flex(row, flex-start, flex-start);
    }

    &__group {
        @include flex(row, space-between, flex-start);
        flex-wrap: wrap;
        margin-left: -6px;
        padding-right: 20px;

        &--nowrap {
            flex-wrap: nowrap;
            justify-content: center;
            padding-right: 0;
            margin-left: -3px;
        }

        .filters__section--sector & {
            padding-right: 0;
        }
    }

    &__item {
        position: relative;
        @include font-size(10, 12);
        font-weight: 700;
        padding: 7px 13px;
        border-radius: 20px;
        border: 1px solid rgba($color-white, 0.5);
        transition: background 0.3s $easing, color 0.3s $easing;
        background-color: $color-gray;
        z-index: 1;
        text-transform: uppercase;
        min-width: 47px;
        text-align: center;
        margin: 0 6px 8px;
        cursor: pointer;

        .filters__group--nowrap & {
            margin: 0 2px 8px;
            @include font-size(11, 1);
        }

        &--static {
            position: absolute;
            top: 0;
            right: 0;
            flex: none;
            align-self: center;
            margin-right: 37px;

            .filters__group--nowrap & {
                right: 11px;
            }
        }

        &::after {
            @include pseudo(calc(100% + 2px), calc(100% + 2px), -1px, -1px, transparent, -1);
            opacity: 0;
            transition: opacity $time $easing;
            border: 2px solid rgba($color-winter, 1);
            border-radius: 20px;
        }

        @include hover {
            background-color: rgba($color-accent, 1);
            color: $color-gray;
        }

        &.is-active {
            // background-color: $color-dark;
            color: $color-winter;

            &::after {
                opacity: 1;
            }
        }
    }

    &__centering {
        height: 100%;
    }

    &__timeline {
        position: relative;
        height: 21px;
        width: 208px;
        @include flex(row, flex-start, center);
        z-index: 1;
        margin: 10px auto 15px;
        left: -2px;

        &::after {
            @include pseudo(100%, 1px, 50%, 0, rgba($color-white, 1), -1);
            transform: translate(0, -50%);
        }
    }

    &__timedot {
        position: relative;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color-white;
        z-index: 1;
        margin-left: 46px;

        &::after {
            @include pseudo(15px, 15px, 50%, 50%, rgba($color-winter, 0.4), -1);
        }

        &::after,
        &::before {
            transform: translate(-50%, -50%) scale(0);
            border-radius: 50%;
            transition: opacity $time $easing, transform $time $easing;
            opacity: 0;
        }

        &::before {
            @include pseudo(21px, 21px, 50%, 50%, rgba($color-winter, 0.4), -1);
        }

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-left: auto;
        }

        &.is-active {
            &::after,
            &::before {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
            }
        }
    }
}
