.hamburger {
    $p: 22px;
    $p-mobile: 12px;
    $p-v: 26px;
    $p-v-mobile: 16.5px;

    width: #{24px + $p-mobile * 2};
    height: 100%;
    position: relative;
    border-radius: 50%;
    transition: transform $time-fast ease-in-out;
    cursor: pointer;
    pointer-events: all;
    color: $color-black;
    padding: $p-v-mobile $p-mobile;

    i {
        position: absolute;
        width: 1px;
        height: calc(100vh - 100px);
        left: 100%;
        top: 70px;
        background-color: $color-accent;
        z-index: 1;
        transform: scaleY(0);
        transform-origin: left top;
        // transition: transform $time ease-in-out;

        // .is-aside-open & {
        //     transform: scaleY(1);
        // }
    }

    @include breakpoint(desktop) {
        width: #{27px + $p * 2};
        padding: $p-v $p;
    }

    span {
        display: block;
        position: relative;
        @include circle(4);
        // height: 2px;
        // width: 20px;
        background: currentColor;
        opacity: 1;
        margin: 6px auto;
        transform: rotate(0deg);
        transform-origin: 50% 50%;
        transition: transform $time-fast ease-in-out;
        border-radius: 15px;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(desktop) {
            // width: 27px;
            // height: 2px;
        }
    }

    &.is-open {
        span:nth-child(1) {
            transform: translateY(3px);
        }
        span:nth-child(2) {
            transform: translateY(0);
        }
        span:nth-child(3) {
            transform: translateY(-3px);
        }
    }

    &:hover {
        span:nth-child(1) {
            transform: rotate(0) translateY(2px);
        }
        span:nth-child(3) {
            transform: rotate(0) translateY(-2px);
        }
        // span:nth-child(1),
        // span:nth-child(2),
        // span:nth-child(3) { transform: rotate(0) scaleX(16 / 20 * 1); }
    }

    &.is-open:hover {
        span:nth-child(1) {
            transform: translateY(8px) rotate(-135deg);
        }
        span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}
