.heading {
    &__decors {
        @include flex(row, center, center);
    }
    &__hr {
        @include hr(calc(50% - 11px), 1px, $color-white);
        position: relative;

        &:first-of-type {
            transform-origin: right bottom;
        }
    }
    &__dots {
        position: relative;
        width: 22px;
        height: 12px;
        margin: 0 6px;
    }
    &__title {
        font-family: $font-text;
        @include font-size(30, 1);
        text-transform: uppercase;
        margin-bottom: 15px;
        text-align: center;
        font-weight: 400;
    }
}
