.hr {
    &--v {
        @include hr(1px, 20px, rgba($color-gray, 0.5));
        margin: 0 20px;
        display: block;
    }

    &--sector {
        position: absolute;
        bottom: 10px;
        left: auto;
        right: 0;
        @include hr(90%, 1px, rgba($color-gray, 0.5));
        transform: scaleX(0);
        transition: transform $time $easing;

        .is-toggled & {
            transform: scaleX(1) translateY(30px);
        }
    }
}
