.logos {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    max-width: 1103px;
    width: 100%;
}
.logo {
    margin-right: 8%;
    margin-bottom: 69px;

    &:nth-of-type(4n) {
        margin-right: 0;
    }
    img {
        width: 100%;
    }

    &--wt {
        width: percent(263, 1103, 0);
    }

    &--ea {
        width: percent(142, 1103, 0);
    }

    &--bsa {
        width: percent(219, 1103, 0);
    }

    &--rmi {
        width: percent(108, 1103, 0);
    }

    &--ag {
        width: percent(211, 1103, 0);
    }

    &--hc {
        width: percent(150, 1103, 0);
    }

    &--hio {
        width: percent(191, 1103, 0);
    }

    &--cp {
        width: percent(149, 1103, 0);
    }

    &--eaca {
        width: percent(214, 1103, 0);
    }

    &--om {
        width: percent(89, 1103, 0);
    }
}
