.masonry {
    position: relative;
    width: 100%;
    height: 613px;
    // @include flex(row, flex-start, flex-start);
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 2px 2px;
    justify-items: stretch;
    color: $color-white;

    &__tile {
        position: relative;
        min-width: 18%;
        min-height: 91px;
        width: 100%;
        height: 100%;
        // background-color: $color-orange;
        margin: 3px 3px 0 0;
        border-radius: 5px;
        transition: background-color 0.2s, z-index 0.25s;
        opacity: 0;

        @include hover {
            z-index: 1;

            .masonry__tooltip {
                transform: translate(-50%, -100%);
                opacity: 1;
            }
        }

        &::after {
            @include pseudo(100%, 10px, auto, 0, rgba($color-black, 0.2), 0);
            border-radius: 0 0 5px 5px;
            bottom: 0;
        }

        &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: span 12;
            grid-row-start: 1;
            grid-row-end: 21;
            background-color: $havelock-blue-lighten;
            &:hover {
                background-color: lighten($havelock-blue, 5%);
            }
        }

        &:nth-child(2) {
            grid-column-start: 13;
            grid-column-end: 17;
            grid-row-start: 1;
            grid-row-end: span 10;
            background-color: $indigo-lighten;
            &:hover {
                background-color: lighten($indigo, 5%);
            }
        }

        &:nth-child(3) {
            grid-column-start: 17;
            grid-column-end: 21;
            grid-row-start: 1;
            grid-row-end: span 10;
            background-color: $blue-violet-lighten;
            &:hover {
                background-color: lighten($blue-violet, 5%);
            }
        }

        &:nth-child(4) {
            grid-column-start: 13;
            grid-column-end: 15;
            grid-row-start: 11;
            grid-row-end: 21;
            background-color: $wild-willow-lighten;
            &:hover {
                background-color: lighten($wild-willow, 5%);
            }
        }

        &:nth-child(5) {
            grid-column-start: 15;
            grid-column-end: 21;
            grid-row-start: 11;
            grid-row-end: 13;
            background-color: $viking-lighten;
            &:hover {
                background-color: lighten($viking, 5%);
            }
        }

        &:nth-child(6) {
            grid-column-start: 15;
            grid-column-end: 18;
            grid-row-start: 14;
            grid-row-end: 21;
            background-color: $shamrock-lighten;
            &:hover {
                background-color: lighten($shamrock, 5%);
            }
        }

        &:nth-child(7) {
            grid-column-start: 18;
            grid-column-end: 21;
            grid-row-start: 14;
            grid-row-end: 18;
            background-color: $picton-blue-lighten;
            &:hover {
                background-color: lighten($picton-blue, 5%);
            }
        }

        &:nth-child(8) {
            grid-column-start: 18;
            grid-column-end: 21;
            grid-row-start: 18;
            grid-row-end: 21;
            background-color: $gull-gray-lighten;
            &:hover {
                background-color: lighten($gull-gray, 5%);
            }
        }
    }

    &__wrapper {
        position: relative;
        z-index: 1;
        padding: 10px;
        font-family: $font-second;
        font-weight: 500;
        text-transform: uppercase;
        backface-visibility: hidden;
    }

    &__data {
        @include font-size(28, 28);
        margin-bottom: 5px;

        .masonry__tile--s & {
            @include font-size(24, 24);
            margin-bottom: 5px;

            @media (max-width: 1300px) {
                @include font-size(22, 22);
            }

            @media (max-width: 1170px) {
                @include font-size(16, 16);
            }
        }

        .masonry__tile--xs & {
            @include font-size(21, 21);
            margin-bottom: 3px;

            @media (max-width: 1300px) {
                @include font-size(18, 18);
            }

            @media (max-width: 1170px) {
                @include font-size(16, 16);
            }
        }
    }

    &__sector {
        @include font-size(14, 15);
        margin-bottom: 5px;
    }

    &__number {
        @include font-size(20, 1);
    }

    &__tooltip {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -95%);
        @include font-size(14, 1);
        font-weight: 400;
        height: auto;
        width: 386px;
        z-index: 3;
        box-shadow: 0 0 10px rgba($color-gray, 0.5);
        color: $color-gray;
        font-family: $font-second;
        transition: transform $time $easing, opacity $time-fast $easing;
        opacity: 0;
        pointer-events: none;

        &::after {
            @include pseudo(0, 0, auto, calc(50% - 5px), transparent, 1);
            bottom: -10px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid $color-white;
            transition: transform $time $easing;
        }

        strong {
            font-weight: 600;
        }

        h4 {
            @include font-size(20, 22);
            font-weight: 300;
            margin-bottom: 13px;
        }

        li {
            position: relative;
            padding: 3px 0 3px 15px;

            &::after {
                @include pseudo(5px, 5px, 50%, 0, $color-gray, 1);
                transform: translate(0, -50%);
                border-radius: 50%;
            }
        }
    }

    &__tooltip-wrapper {
        position: relative;
        padding: 21px;
        background-color: $color-white;
        border-radius: 5px;
    }

    &__hr {
        width: 100%;
        height: 3px;
        background-color: $havelock-blue;
        margin-bottom: 13px;
        border: none;
    }
}
