.masonry {
    position: relative;
    width: 100%;
    height: 613px;
    // @include flex(row, flex-start, flex-start);
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 2px 2px;
    justify-items: stretch;

    &__tile {
        position: relative;
        min-width: 18%;
        min-height: 91px;
        width: 100%;
        height: 100%;
        background-color: $color-orange;
        margin: 3px 3px 0 0;
        border-radius: 5px;
        transition: background-color 0.2s;
        opacity: 0;

        &::after {
            @include pseudo(100%, calc(100% - 10px), 0, 0, rgba($color-black, 0.3), 0);
        }

        &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: span 12;
            grid-row-start: 1;
            grid-row-end: 21;
            background-color: $color-mint;
            &:hover {
                background-color: lighten($color-mint, 5%);
            }
        }

        &:nth-child(2) {
            grid-column-start: 13;
            grid-column-end: 17;
            grid-row-start: 1;
            grid-row-end: span 10;
            background-color: $color-sea;
            &:hover {
                background-color: lighten($color-sea, 5%);
            }
        }

        &:nth-child(3) {
            grid-column-start: 17;
            grid-column-end: 21;
            grid-row-start: 1;
            grid-row-end: span 10;
            background-color: $color-orange;
            &:hover {
                background-color: lighten($color-orange, 5%);
            }
        }

        &:nth-child(4) {
            grid-column-start: 13;
            grid-column-end: 15;
            grid-row-start: 11;
            grid-row-end: 21;
            background-color: $color-beige;
            &:hover {
                background-color: lighten($color-beige, 5%);
            }
        }

        &:nth-child(5) {
            grid-column-start: 15;
            grid-column-end: 21;
            grid-row-start: 11;
            grid-row-end: 13;
            background-color: $color-darkblue;
            &:hover {
                background-color: lighten($color-darkblue, 5%);
            }
        }

        &:nth-child(6) {
            grid-column-start: 15;
            grid-column-end: 18;
            grid-row-start: 14;
            grid-row-end: 21;
            background-color: $color-cinnabar;
            &:hover {
                background-color: lighten($color-cinnabar, 5%);
            }
        }

        &:nth-child(7) {
            grid-column-start: 18;
            grid-column-end: 21;
            grid-row-start: 14;
            grid-row-end: 18;
            background-color: $color-pink;
            &:hover {
                background-color: lighten($color-pink, 5%);
            }
        }

        &:nth-child(8) {
            grid-column-start: 18;
            grid-column-end: 21;
            grid-row-start: 18;
            grid-row-end: 21;
            background-color: $color-cement;
            &:hover {
                background-color: lighten($color-cement, 5%);
            }
        }
    }

    &__wrapper {
        position: relative;
        z-index: 1;
        padding: 10px;
        font-family: $font-second;
        font-weight: 500;
        text-transform: uppercase;
        backface-visibility: hidden;
    }

    &__data {
        @include font-size(28, 28);
        margin-bottom: 5px;

        .masonry__tile--s & {
            @include font-size(24, 24);
            margin-bottom: 5px;
        }

        .masonry__tile--xs & {
            @include font-size(21, 21);
            margin-bottom: 3px;
        }
    }

    &__sector {
        @include font-size(14, 15);
        margin-bottom: 5px;
    }

    &__number {
        @include font-size(20, 1);
    }
}
