.panel {
    position: absolute;
    top: -20px;
    width: 100%;
    height: 50px;

    &__bar {
        position: relative;
        height: 60px;
        @include flex(row, flex-start, flex-end);
    }

    &__filters {
        text-transform: uppercase;
        @include font-size(14, 30);
        position: relative;
        left: -15px;
        font-family: $font-sans;
        font-weight: 500;

        &::after {
            @include pseudo(10px, 10px, 50%, auto, $color-white, 1);
            transform: translateY(-50%);
            right: 0;
        }

        /// NEW LAYout
        // display: none;

        span {
            position: relative;
            padding: 0 15px 0 8px;

            &::after {
                content: "+";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                color: $color-winter;
            }
        }

        .tag {
            &::after {
                display: none;
            }

            padding-right: 0;
        }
        .tag-last {
            padding-right: 15px;

            &::after {
                display: block;
            }
        }
    }

    &__button {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 50px;
        @include flex(row, flex-end, center);
        @include font-size(14, 30);
        text-transform: uppercase;
        transition: color $time $easing, background $time $easing;
        color: $color-gray;
        padding: 10px 30px 5px;
        border-radius: 23px;
        background-color: $color-bg;
        z-index: 2;

        .is-toggled & {
            color: $color-white;
            background-color: $color-gray;

            span,
            .icon-arr-down {
                color: $color-white;
            }

            .icon-filter i {
                background-color: $color-white;

                &::after {
                    border: 1px solid $color-white;
                    background-color: $color-gray;
                }
            }

            .icon-arr-down {
                transform: scaleY(-1) rotate(-45deg) translate(3px, -3px);
            }
        }

        #main & {
            font-family: $font-second;
        }

        span {
            color: $color-gray;
            font-weight: 500;
            letter-spacing: 1px;
            transition: color $time $easing;
        }

        @include hover {
            .icon-filter {
                @extend %icon-filter-hover;
            }
            span {
                color: $color-white;
            }
            .icon-arr-down {
                color: $color-white;
                transform: scaleY(-1) rotate(-45deg) translate(3px, -3px);
            }
        }

        .icon-arr-down {
            color: $color-gray;
            margin-left: 10px;
            margin-bottom: 7px;
        }
    }
}
