.profile {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 100%;

    @include hover {
        .profile__img::after {
            opacity: 0.6;
        }

        .profile__quote {
            opacity: 1;
            transform: translateY(0);
        }

        .profile__wrap {
            transform: translateY(0);
        }

        .profile__hr {
            transform: scaleX(1);
        }

        .profile__follow {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @include breakpoint(tablet) {
        height: 412px;
    }

    @include breakpoint(desktop) {
        width: 310px;
        height: 424px;

        @include breakpoint(ipad-pro) {
            width: 295px;
        }
        @include breakpoint(tablet-landscape) {
            width: 295px;
        }
    }

    @include breakpoint(hd) {
        width: 424px;
    }

    &__wrap {
        padding: 20px 20px 25px;
        height: 100%;
        @include flex(column, space-between, flex-start);
        font-family: $font-text;
        color: $color-white;
        transition: transform $time $easing;
        transform: translateY(88px);

        @include breakpoint(phone) {
            height: 67%;
            @include flex(column, flex-end, flex-start);
            padding-bottom: 10px;
            transform: translateY(45px);
        }

        .is-active & {
            @include breakpoint(not-desktop) {
                transform: translateY(0);
            }
            @include breakpoint(ipad-pro) {
                transform: translateY(0);
            }
            @include breakpoint(tablet-landscape) {
                transform: translateY(0);
            }
        }
    }

    &__quote {
        font-family: $font-text;
        color: $color-lemon-dim;
        width: 100%;
        font-weight: 600;
        @include font-size(18, 22);
        transition: opacity $time $easing 0.1s, transform $time $easing 0.2s;
        margin-top: 43px;
        opacity: 0;
        transform: translateY(0);

        @include breakpoint(tablet) {
            margin-top: 0;
        }

        @include breakpoint(desktop) {
            font-size: 1.2vw;
            transform: translateY(10px);
            opacity: 0;
            margin-top: 0;

            @include breakpoint(ipad-pro) {
                @include font-size(18, 22);
            }
            @include breakpoint(tablet-landscape) {
                @include font-size(18, 22);
            }
        }

        @include breakpoint(hd) {
            @include font-size(20, 22);
            max-width: 80%;
        }

        .is-active & {
            @include breakpoint(not-desktop) {
                opacity: 1;
                transform: translateY(0);
            }
            @include breakpoint(ipad-pro) {
                opacity: 1;
                transform: translateY(0);
            }
            @include breakpoint(tablet-landscape) {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__texts {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    &__qmark {
        @include font-size(60, 0.1);
        margin-top: 20px;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include breakpoint(phone) {
            height: 67%;
        }

        &::after {
            @include pseudo(100%, 100%, 0, 0, rgba($color-dim, 1), 0);
            transition: opacity $time $easing, transform $time $easing;
            opacity: 0;
            backface-visibility: hidden;
            pointer-events: none;

            @include breakpoint(not-desktop) {
                opacity: 0.3;
            }
            @include breakpoint(tablet-landscape) {
                opacity: 0.3;
            }
            @include breakpoint(ipad-pro) {
                opacity: 0.3;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-family: $font-sans;
        letter-spacing: -0.58px;
        @include font-size(36, 38);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 6px;

        @include breakpoint(desktop) {
            font-size: 2.8vw;
        }

        @include breakpoint(hd) {
            @include font-size(42, 44);
        }
    }

    &__tag {
        font-weight: 600;
        @include font-size(18, 28);
        color: $color-lemon-dim;

        @include breakpoint(desktop) {
            @include font-size(20, 30);
        }
    }

    &__hr {
        @include hr(100%, 1px, $color-white);
        transition: transform $time $easing 0.2s;
        margin: 20px 0;
        transform: scaleX(0);
        transform-origin: 0 50%;

        @include breakpoint(phone) {
            // transform: scaleX(1);
            margin: 10px 0;
        }

        @include breakpoint(not-desktop) {
            .is-active & {
                transform: scaleX(1);
            }
        }
        @include breakpoint(tablet-landscape) {
            transform: scaleX(1);
        }
        @include breakpoint(ipad-pro) {
            transform: scaleX(1);
        }
    }

    &__follow {
        @include font-size(14, 17);
        height: 41px;
        @include flex(row, space-between, center);
        overflow: hidden;
        transition: opacity $time $easing 0.1s, transform $time $easing 0.2s;
        transform: translateY(41px);

        @include breakpoint(desktop) {
        }

        p {
            flex: 1;
        }

        .is-active & {
            @include breakpoint(not-desktop) {
                transform: translateY(0);
            }
            @include breakpoint(tablet-landscape) {
                transform: translateY(0);
            }
            @include breakpoint(ipad-pro) {
                transform: translateY(0);
            }
        }
    }

    &__socials {
        @include flex(row, flex-end, center);
        color: rgba($color-gray, 0.7);
        flex-wrap: nowrap;
        flex: 1;

        @include breakpoint(not-desktop) {
            padding-right: 2px;
        }

        a {
            @extend %social;
            max-width: 41px;
            width: auto;

            @include breakpoint(phone) {
                width: 34px;
                height: 35px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
            // width: percent()

            svg {
                fill: rgba($color-white, 0.7);
                transition: fill $time $easing;
                overflow: visible;
            }

            @include hover {
                svg {
                    fill: $color-lemon-dim;
                }
            }
        }
    }
}
