.rank {
    padding-top: 20px;



    &__wrapper {
        overflow-y: scroll;
        max-height: 376px;
    }



    &__table {
        border-collapse: collapse;
        width: 100%;
    }



    &__header {
        @include font-size(12, 32);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        width: 100%;
        position: sticky;
        top: 0;
        text-align: left;
        font-weight: normal;
    }



    &__cell {
        &--id {
            width: percent(113px, 1477, 0);
        }

        &--country {
            width: percent(310px, 1477, 0);
        }

        &--quality {
            width: percent(182px, 1477, 0);
        }

        &--emission {
            width: percent(204px, 1477, 0);
        }

        &--trend {
            width: percent(234px, 1477, 0);
        }

        &--capita {
            width: percent(223px, 1477, 0);
        }

        &--global {
            width: percent(221px, 1477, 0);
        }
    }



    &__row {
        border-bottom: 1px solid rgba(#979797, 0.3);
        @include flex(row, flex-start, center);
        font-family: $font-second;
        position: relative;
        z-index: 0;

        &:last-of-type { border-bottom-color: transparent; }

        &--header {
            background: $color-gray;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        &::before {
            content: "";
            @include full(absolute, 4);
            background: #414041;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.1s;
        }

        &:not(:first-child):hover::before {
            transition-duration: 0s;
            opacity: 1;
        }
    }



    &__position {
        padding: 11px 0;
        height: 48px;
        @include flex(row, flex-start, center);
        @include font-size(14, 1);

        &--id {
            padding-left: 20px;
        }

        &--emission {
            span {
                display: inline-block;
                margin-right: 5px;
            }
        }

        &--quality {
        }

        &--capita {
            text-transform: uppercase;
        }
    }



    .flag {
        height: 20px;
        width: auto;
        display: inline-block;
        margin-right: 17px;
    }



    .curve {
        max-width: 70px;
        margin-left: 20px;
        max-height: 20px;
    }
}
