.scroll {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    color: $color-white;
    display: flex;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    z-index: 3;

    &__arrow {
        display: block;
        height: 29px;
        width: 25px;
        margin: 0 auto;
        animation: scrollDown 1s ease-in-out 0.2s alternate backwards;
        animation-iteration-count: infinite;
        animation-delay: 3s;
        pointer-events: none;

        img {
            width: 100%;
        }
    }
}
