.select {
    position: relative;
    // min-width: 208px;
    // max-width: 242px;
    width: 100%;
    @include flex(column, flex-start, flex-start);
    font-family: $font-main;
    font-weight: 300;
    @include font-size(13, 1);

    &__trigger {
        position: relative;
        width: 100%;
        @include flex(row, flex-start, center);
        border: 1px solid rgba($color-white, 0.7);
        height: 40px;
        line-height: 40px;
        padding: 0 11px 0 7px;
        cursor: pointer;

        transition: border $time $easing, color $time $easing;

        svg * {
            transition: fill $time $easing;
        }

        @include hover {
            border: 1px solid $color-winter;
            color: $color-winter;

            svg {
                * {
                    fill: $color-winter;
                }
            }
        }
    }

    &__label {
        margin-left: 12px;
        text-transform: uppercase;
    }

    &__list {
        position: absolute;
        display: block;
        list-style-type: none;
        left: 0;
        right: 0;
        top: 100%;
        border: 1px solid rgba($color-white, 0.7);
        border-top: 0;
        background: $color-mine-shaft;
        transition: all $time;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 2;
        overflow-y: scroll;
        height: 0;

        .is-open & {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            height: 250px;
        }
    }

    &__item {
        position: relative;
        display: block;
        padding: 0 22px 0 22px;
        font-weight: 300;
        line-height: 40px;
        cursor: pointer;
        transition: all 0.5s;
        text-transform: uppercase;
        padding-left: 33px;

        @include hover {
            background-color: $color-accent;
        }
    }

    .icon-img-triangle {
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translateY(-50%);
        transition: transform $time $easing;
    }
}

.is-open .icon-img-triangle {
    transform: translateY(-50%) scaleY(-1);
}
