.share {
    $border-color: $color-black;
    // $bg-gradient: linear-gradient(180deg, var(--color-secondary), var(--color-primary));
    $width-xl: 194px;
    $height-xl: 50px;
    $width: 162px;
    $height: 42px;

    position: relative;
    @include flex(row, flex-start, center);
    display: inline-flex;

    &__title {
        font-family: $font-sans;
        @include font-size(12, 1);
        font-weight: 500;
        letter-spacing: 0.83px;
        text-transform: uppercase;
        margin-right: 6px;
        margin-top: 4px;
    }

    &__button {
        color: $border-color;
        position: relative;
        @include flex(row, flex-end, center);
        padding: 0 5px;
        z-index: 1;
        // transition: transform $time-fast $easing, background $time-fast $easing;
        backface-visibility: hidden;
        display: inline-block;
        transition: color $time-fast $easing;

        @include hover {
            color: $color-accent !important;
        }

        @include hover {
            &::after,
            &::before {
                // transform: translate(-2px, -2px);
                opacity: 0;
            }
        }

        .is-open & {
            .share__border {
                transform: translate(0, 1px);
            }
        }
    }

    a {
        padding: 0 5px;
        transition: color $time-fast $easing;
        text-decoration: none;

        @include hover {
            color: $color-accent;
        }
    }

    &__copy {
        position: relative;
        font-weight: 700;
        @include font-size(14, 1);
        color: currentColor;
        padding-left: 12px;
        text-transform: uppercase;
        z-index: 1;
        transition: color $time $easing, transform $time-fast $easing;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        will-change: transform;

        .masonry & {
            @include font-size(20, 1);
            margin-top: -2px;

            @include breakpoint(not-desktop) {
                @include font-size(14, 1);
                letter-spacing: 2.3px;
            }
        }

        .share--circle & {
            display: none;
        }

        @include breakpoint(desktop) {
            pointer-events: none;
        }
    }

    &__tooltip {
        position: absolute;
        color: $border-color;
        top: calc(100% + 5px);
        right: 0;
        left: auto;
        height: 100%;
        // background: var(--color-primary);
        // border: 2px solid currentColor;
        pointer-events: none;
        transform: translateX(10px);
        @include flex();
        opacity: 0;
        transition: opacity $time $ease-out, transform $time $ease-out;
        z-index: 3;
        min-width: 162px;

        @include breakpoint(not-desktop) {
            padding: 0 5px;
        }

        .masonry & {
            color: $color-white;
        }

        .share--circle & {
            width: 268px;
            border-radius: 30px;
            background: $color-dark;
            color: $color-white;
            border: 0;
            @include flex(row, space-between, center);

            @media (max-width: 1340px) {
                padding: 0 10px;
                width: 250px;
            }
        }

        // .module:not(#shareable-science):not(#essential-stories):not(#make-it-happen) & {
        //     background: $color-dark;
        // }

        // &::after {
        //     @include pseudo(100%, 4px, auto, auto, currentColor, 0);
        //     right: -4px;
        //     bottom: -4px;

        //     .share--circle & {
        //         display: none;
        //     }
        // }

        // &::before {
        //     @include pseudo(4px, 100%, 2px, auto, currentColor, 0);
        //     right: -4px;

        //     .share--circle & {
        //         display: none;
        //     }
        // }

        .is-open & {
            opacity: 1;
            transform: translate(3px, 1px);
            pointer-events: all;

            // @include breakpoint(not-desktop) {
            //     transform: translateY(0);
            // }
        }
    }

    &__border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: $color-dark;
        z-index: 0;
        border: 2px solid $color-dim;
        transition: transform $time-fast $easing;
        pointer-events: none;

        .masonry & {
            border: 2px solid $color-white;
        }

        .share--circle & {
            display: none;
        }

        .slider--article & {
            @include breakpoint(not-desktop) {
                border: 2px solid $color-white;
            }
        }
    }
}
