.slider {
    width: 100%;
    overflow: hidden;
    color: $color-gray;

    &__list {
        position: relative;
    }

    &__item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transform: scale(0.85);
        transition: opacity 1s $easing, transform 1.75s $easing;

        &:first-of-type {
            position: relative;
        }

        &.is-active {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__map {
        position: relative;
        // margin-top: 50px;
        img {
            margin-left: auto;
            margin-right: 0;
            text-align: right;
            display: block;
        }
        // svg,
        // img {
        //     height: auto;
        //     width: 100%;
        // }
    }

    &__nav {
        position: relative;
        height: 30px;
        margin-bottom: 12px;
        @include flex(row, flex-start, center);
        display: inline-flex;
        z-index: 3;
    }

    &__point {
        display: block;
        margin-right: 23px;
        height: 100%;
        padding: 13px 0;
        width: 52px;
        cursor: pointer;

        span {
            display: block;
            transition: background $time $easing;
            width: 100%;
            background-color: rgba($color-white, 0.25);
            height: 4px;
        }

        &.is-active {
            span {
                background-color: rgba($color-white, 1);
            }
        }
    }

    &__elements {
        position: absolute;
        width: 100%;
        bottom: 10vh;
        // bottom: 0;
        text-align: left;
    }

    &__sup {
        @include font-size(26, 30);
        text-transform: uppercase;
        opacity: 0;
        transform: translateX(-20px);
        transition-delay: 0;

        .is-ready & {
            transition: opacity $time $easing, transform $time $easing;
        }

        .is-active & {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &__stat {
        @include font-size(120, 1);
        text-transform: uppercase;
        animation-play-state: paused;
        display: none;
        animation: glow 2s $ease-in-out infinite alternate;
        opacity: 0;
        transform: translateX(-20px);

        .is-ready & {
            transition: opacity $time $easing, transform $time $easing;
            transition-delay: 0.1s;
        }

        .is-active & {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &__sub {
        margin-top: 20px;
        @include font-size(20, 24);
        @include flex(row, flex-start, center);
        opacity: 0;
        transform: translateX(-20px);

        .is-ready & {
            transition: opacity $time $easing, transform $time $easing;
            transition-delay: 0.2s;
        }

        .is-active & {
            opacity: 1;
            transform: translateX(0);
        }

        span {
            width: 369px;
            text-transform: uppercase;
            opacity: 0.6;
            margin-left: 16px;
        }
    }

    &__captions {
        position: relative;
    }

    &__caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity $time $easing;

        &:first-of-type {
            position: relative;
        }

        &.is-active {
            opacity: 1;
        }
    }
}
