.subscribe {
    position: relative;
    height: 563px;
    padding-top: 100px;
    overflow: hidden;
    color: $color-white;

    &__wrapper {
        // max-width: ;
    }

    &__h2 {
        @include font-size(68, 1);
        position: relative;
        font-weight: 100;

        em {
            font-style: normal;
            text-transform: uppercase;
        }
    }

    &__text {
        @include font-size(24, 1);
        margin-top: 20px;
        max-width: get-grid-width(6);
        font-weight: 100;
    }

    &__bg {
        position: absolute;
        top: -2.5%;
        left: -2.5%;
        width: 105%;
        height: 105%;
        object-fit: cover;
        pointer-events: none;
        backface-visibility: hidden;
    }

    &__row {
        position: relative;
        width: 735px;
    }

    &__form {
        margin-top: 140px;
    }

    &__input {
        border: 0;
        border-bottom: 2px solid $color-white;
        width: 100%;
        background-color: transparent;
        @include font-size(28, 30);
        padding: 20px 5px;
        color: $color-white;
        font-family: $font-sans;

        &::placeholder {
            color: $color-white;
            font-weight: 300;
        }
    }
}
