.tabs {
    position: relative;
    width: 100%;
    @include flex(row, space-between, center);
    padding: 0 35px;
    margin-top: 50px;

    &::after {
        @include pseudo(100%, 1px, auto, 0, $color-silver, 1);
        bottom: 12px;
    }
}



.tab {
    position: relative;
    @include font-size(24, 28);
    text-transform: uppercase;
    color: $color-silver;
    transition: color $time $easing;
    cursor: pointer;

    &::after {
        width: 42px;
        height: 20px;
        content: "";
        display: block;
        background: $color-bg;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -21px;
        z-index: 2;
        transform-origin: center center;
        transition: transform 0.2s;
        transform: scaleX(0);
    }

    .icon-img-dots {
        position: relative;
        display: block;
        margin: 6px auto 0;
        transition: transform $time $easing, opacity $time $easing;
        transform: translateY(-5px);
        opacity: 0;
        z-index: 3;
    }

    &.is-active {
        color: $color-white;
        pointer-events: none;

        .icon-img-dots {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @include hover {
        color: $color-white;
    }
}
