.video {
    width: 100%;
    height: auto;
    // overflow: hidden;

    .col-66 & {
        height: #{var(--col-66)} * 0.5625;
    }

    &__poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;
        transition: opacity $time $easing;
        opacity: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }

        .is-playing &,
        .is-loading & {
            opacity: 0;
        }
    }
}
