.wrapper {
    max-width: get-grid-width(12);
    width: 100%;
    margin: auto;

    &__container {
        position: relative;
        width: 100%;

        &--highlights {
            padding-top: 46px;
        }
    }

    &--subscribe {
        padding-left: 25px;
    }
}
