.wrapper {
    max-width: get-grid-width(11);
    width: 100%;
    margin: auto;

    &__container {
        position: relative;
        width: 100%;

        &--highlights {
            padding-top: 46px;

            .highlights--subpage & {
                padding-top: 0;
            }
        }
    }

    &--subscribe {
        padding-left: 25px;
    }

    &__tiles {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }
}
