.cta {
    $lead-weight: 500;
    $color-text: $color-white;

    width: 100%;
    background-color: $color-theme;
    padding: 0 28px;
    color: $color-text;

    @include breakpoint(tablet) {
        padding: 0 56px;
    }

    @include breakpoint(desktop) {
        padding: 0 10px;
    }

    &__wrapper {
        width: 100%;
        padding-top: 44px;
        text-align: center;

        @include breakpoint(desktop) {
            max-width: get-grid-width(6);
            margin: 0 auto;
            padding-top: 70px;
        }
    }

    &__lead {
        font-weight: $lead-weight;
        @include font-size(24, 1.25);
    }
}
