.dashboard {
    position: relative;
    margin-top: #{$nav-height + 25px};

    &__top {
        padding: 0 margin(desktop);
        position: relative;
        background-color: $color-gray;
        width: 100%;
    }

    &__header {
        width: 100%;
        margin-bottom: 30px;
    }

    &__wrapper {
        position: relative;
        max-width: get-grid-width(12);
        margin: auto;
        width: 100%;

        &--flex {
            @include flex(row, space-between, center);
        }
    }

    &__flex {
        @include flex(row, center, center);
    }

    &__body {
        // padding: 30px 0;
        overflow: hidden;

        &.is-toggled {
            overflow: visible;
        }
    }

    &__footer {
        font-family: $font-second;
        padding: 40px 0 30px;
        text-transform: uppercase;
    }

    &__country {
        width: 60%;
        padding-right: 20px;
        margin-right: auto;
    }

    &__countryname {
        @include font-size(30, 1);
        font-weight: 300;
        margin-bottom: 30px;

        img {
            margin-right: 15px;
        }
    }

    &__emission {
        @include font-size(68, 1);
        font-weight: 500;

        @media (max-width: 1280px) {
            @include font-size(60, 1);
        }
    }

    &__updatetime {
        text-transform: none;
        @include font-size(16, 1);
        font-family: $font-sans;
    }

    &__percentage {
        width: 128px;
        @include font-size(18, 24);
        font-weight: 300;

        strong {
            font-weight: 500;
            @include font-size(30, 1);
            display: block;
            margin-bottom: 5px;
        }
    }

    &__rank {
        position: relative;
        width: 202px;
        padding-left: 36px;
        font-weight: 300;
        @include font-size(18, 30);

        &::after {
            @include pseudo(2px, 100%, 0, 0, $color-silver, 1);
        }
    }

    &__number {
        @include font-size(30, 30);
    }

    &__position {
        padding-bottom: 18px;
        position: relative;

        img {
            margin-top: 5px;
        }

        &::after {
            @include pseudo(85%, 2px, auto, 0, $color-silver, 1);
            bottom: 0;
        }
    }

    &__change {
        padding-top: 22px;
        img {
            margin-top: 5px;
        }
    }

    &__share {
        border-top: 2px solid $color-silver;
        margin-top: 20px;
        padding-top: 10px;
        @include flex(row, center, center);
    }

    &__share-icon {
        @include flex(row, flex-start, center);
        padding: 0 20px;
    }

    &__link {
        padding: 10px;
        width: 190px;
        @include flex(row, space-between, center);
    }
}
