.dashboard {
    $gradient: linear-gradient(180deg, rgba(232, 234, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);

    position: relative;
    padding-top: #{$nav-height + 45px};
    background: $gradient;

    &__top {
        // padding: 0 margin(desktop);
        position: relative;
        // background-color: $color-gray;
        width: 100%;
        // border-radius: $radius;
    }

    &__header {
        width: 100%;
        max-width: get-grid-width(12);
        margin: auto;

        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        // margin-bottom: 30px;
    }

    &__wrapper {
        position: relative;
        max-width: get-grid-width(11);
        margin: auto;
        width: 100%;

        &--flex {
            @include flex(row, space-between, center);
        }

        &--panel {
            border-radius: $radius;
            background-color: $color-white;
            padding: 0 margin(desktop);
            color: $color-gray;
            box-shadow: $box-shadow;
        }
    }

    &__flex {
        @include flex(row, space-between, flex-end);

        &--border {
            border-bottom: 1px solid $color-gray;
        }
    }

    &__body {
        // padding: 30px 0;
        width: calc(100% + #{margin(desktop) * 2});
        overflow: hidden;
        margin-left: margin(desktop) * -1;
        background-color: $color-gray;
        border-radius: $radius;

        .is-toggled & {
            overflow: visible;
        }
    }

    &__footer {
        font-family: $font-main;
        padding: 40px 0 30px;
        text-transform: uppercase;
    }

    &__details {
        margin-top: 40px;
        @include flex(column, center, center);
        width: 307px;
    }

    &__country {
        width: 65%;
        padding: 0 20px 15px 0;
        margin-right: auto;
    }

    &__countryname {
        @include font-size(24, 30);
        font-weight: 300;
        margin-right: 20px;
        text-transform: uppercase;

        img {
            margin-right: 15px;
        }

        .comparison & {
            @include font-size(18, 30);
            @include flex(row, flex-start, center);
        }
    }

    &__emission {
        @include font-size(50, 1);
        font-weight: 500;

        .num {
            @include font-size(100, 1);
            font-weight: 700;
        }

        // @media (max-width: 1280px) {
        //     @include font-size(50, 1);
        // }
    }

    &__updatetime {
        text-transform: none;
        @include font-size(14, 1);
        padding: 7px 10px;
        background-color: rgba($color-gray, 0.5);
        color: $color-white;
        border-radius: 4px;
        font-weight: 600;
    }

    &__percentage {
        width: 100%;
        @include font-size(14, 16);
        font-weight: 400;
        text-align: center;
        border-bottom: 1px solid $color-silver;
        padding-bottom: 15px;

        strong {
            font-weight: 500;
            @include font-size(30, 1);
            margin-right: 15px;
        }

        .comparison & {
            flex: 1;
            border: 0;
            max-width: 151px;
            text-align: left;
            padding-bottom: 0;
        }
    }

    &__rank {
        position: relative;
        width: 100%;
        padding: 23px 0 27px;
        font-weight: 400;
        @include font-size(18, 30);
        @include flex(row, center, center);

        // &::after {
        //     @include pseudo(2px, 100%, 0, 0, $color-silver, 1);
        // }
    }

    &__place {
        @include flex(row, flex-start, center);
        padding-bottom: 19px;

        .comparison & {
            justify-content: space-between;
            border-bottom: 1px solid rgba($color-gray, 0.5);
            padding-bottom: 10px;
        }
    }

    &__number {
        @include font-size(30, 30);
        font-weight: 500;
        padding-bottom: 6px;
    }

    &__position {
        position: relative;
        @include font-size(14, 16);
        flex: 1;
        text-transform: uppercase;

        img {
            margin-top: 5px;
        }

        &::after,
        &::before {
            @include pseudo(1px, 100%, 50%, auto, $color-silver, 0);
            transform: translateY(-50%);
            right: -15px;
        }

        &::before {
            display: none;
        }

        .comparison & {
            &::before {
                display: block;
                right: auto;
                left: -30px;
            }

            &::after {
                right: -8px;
            }
        }
    }

    &__change {
        position: relative;
        left: 30px;
        @include font-size(14, 16);
        flex: 1;
        text-transform: uppercase;

        img {
            margin-top: 5px;
        }
    }

    &__share {
        // padding-top: 20px;
        @include flex(row, center, center);
    }

    &__share-icon {
        @include flex(row, flex-start, center);
        padding: 0 20px;
        @include font-size(12, 1);

        span {
            color: rgba($color-gray, 0.6);
            letter-spacing: 0.08px;
        }
    }

    &__link {
        padding: 20px 10px;
        // width: 190px;
        @include flex(row, space-between, center);

        a {
            padding: 0 5px;
            transition: color 0.2s;
        }

        a:hover {
            color: $color-winter;
        }
    }
}
