.faq {
    width: 100%;
    padding: 0;

    @include breakpoint(desktop) {
        padding: 0 get-grid-width(1);

        @include breakpoint(tablet-landscape) {
            padding: 0;
        }

        @include breakpoint(ipad-pro) {
            padding: 0;
        }
    }

    &__row {
        position: relative;
        padding: 40px 0;
        @include flex(row, space-between, flex-start);
        border-bottom: 2px solid rgba($color-dark, 0.3);

        @include breakpoint(phone) {
            display: block;
        }
    }

    &__border {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: calc(36% - 32px);
        height: 2px;
        background-color: $color-dark;
        transform-origin: left bottom;
    }

    &__question {
        @include font-size(30, 36);
        text-transform: uppercase;
        letter-spacing: -0.5px;
        width: percent(426, 1175, 0);
        margin-right: 32px;
        font-weight: 700;

        @include breakpoint(phone) {
            @include font-size(24, 30);

            margin-right: 0;
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &__answer {
        @include font-size(16, 22);
        font-family: $font-text;
        letter-spacing: -0.5px;
        width: percent(717, 1175);

        @include breakpoint(phone) {
            width: 100%;
        }
    }
}
