.footer {
    width: 100%;
    position: relative;

    &__logo {
        width: 192px;
        svg {
            width: 100%;
            height: auto;
        }
        color: $color-gray;
    }

    &__menu {
        @include flex(row, flex-start, flex-start);
    }

    &__bar {
        padding-top: 250px;
        @include flex(row, space-between, center);
    }

    &__colophon {
        @include flex(row, center, center);
        display: inline-flex;
        opacity: 0.7;
    }

    &__social {
        @include flex(row, flex-end, center);
        display: inline-flex;
        @include font-size(14, 30);
        text-transform: uppercase;
        opacity: 0.7;

        a {
            margin: 0 15px;
            transition: color $time $easing;

            @include hover {
                color: $color-accent;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}
