.hero {
    position: relative;
    width: 100%;
    max-width: get-grid-width(12);
    text-align: center;
    height: calc(var(--app-height) - 70px);
    z-index: 2;
    color: $color-white;
    backface-visibility: hidden;
    transform: translateZ(0);

    &__wrapper {
        position: relative;
        width: 100%;
        height: auto;
    }
}
