.highlights {
    // &--subpage {
    //     position: relative;
    //     margin-top: $nav-height;
    //     padding-top: 45px;
    //     background: $gradient;

    //     &::after {
    //         @include pseudo(100%, 116px, 0, 0, $color-pale, -1);
    //         transform: translateY(-99%);
    //     }
    // }

    &__records {
        position: absolute;
        top: -50px;
        right: 10px;
        font-family: $font-sans;
        @include font-size(16, 30);
        letter-spacing: 0.1px;
    }

    &__row {
        height: 423px;
        width: 100%;
        @include flex(row, flex-start, center);
        margin-bottom: 28px;
    }

    &__col {
        height: 100%;
        width: 32%;
        margin-right: 28px;

        &--big {
            width: 66%;
        }

        &:last-of-type {
            margin-right: 0;
        }

        .wrapper__tiles & {
            height: 423px;
            max-width: percent(375, 1189, 0);
            margin-bottom: 28px;

            &:nth-of-type(3n) {
                margin-right: 0;
            }

            // display: flex;
            // flex-wrap: nowrap;
            // width: 32%;
        }
    }

    // &__load {
    //     position: absolute;
    //     bottom: 50px;
    //     text-align: center;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    //     text-transform: uppercase;
    //     transition: color $time $easing;

    //     @include hover {
    //         color: $color-accent;
    //     }
    // }
}
