.join {
    $height: 374px;
    $height-m: 460px;
    $background: var(--color-primary);
    $background-form: $color-yellow;
    $accent: var(--color-secondary);
    $accent-form: $color-magenta;

    width: 100%;
    height: $height-m;
    padding: 30px 20px 30px 20px;
    background-color: $background;

    &.is-subscribed {
        background-color: $accent;
    }

    @include breakpoint(tablet) {
        height: $height;
        padding: 37px 24px;
    }

    @include breakpoint(desktop) {
        height: $height;

        padding: 37px 44px 37px 50px;
    }

    &__wrapper {
        position: relative;
        @include flex(column, space-between, flex-start);
        width: 100%;
        height: 100%;

        @include breakpoint(tablet) {
            @include flex(row, space-between, flex-end);
        }

        @include breakpoint(desktop) {
            @include flex(row, space-between, flex-end);
        }
    }

    &__lead {
        font-weight: 700;
        text-transform: uppercase;
        @include font-size(77, 1);
        letter-spacing: -0.69px;

        @include breakpoint(phone) {
            font-size: 15.5vw;
        }

        @include breakpoint(tablet) {
            margin-right: 50px;
        }

        .join--form & {
            @include font-size(72, 1);

            @include breakpoint(not-desktop) {
                @include font-size(40, 1);
            }
        }
    }

    &__em {
        color: $accent;

        .join--form & {
            color: $accent-form;
        }

        .is-subscribed & {
            color: $background;
        }
    }

    /// FORM SUBPAGE
    &--form {
        position: relative;
        width: 100%;
        height: auto;
        padding: 35px 25px;
        // @include flex(row, space-between, flex-start);
        background-color: $background-form;

        @include breakpoint(desktop) {
            padding: 85px get-grid-width(1);
            @include flex(row, space-between, flex-start);
        }

        .message {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 30px;
            font-weight: 700;
        }
    }

    &__col {
        max-width: get-grid-width(4);
        width: 100%;
    }

    &__col-wide {
        max-width: get-grid-width(7, 1);
        position: relative;
    }

    &__hr {
        @include hr(160px, 13px, $accent-form);
        margin-top: 20px;

        @include breakpoint(not-desktop) {
            @include hr(170px, 10px, $accent-form);
        }
    }

    &__back {
        display: block;
        @include font-size(20, 1);
        text-transform: uppercase;
        font-weight: 700;
        margin: 40px 0 50px;
        transition: color $time-fast $easing;

        span {
            margin-left: 5px;
        }

        @include hover {
            color: var(--color-primary);

            .join__arr {
                transform: translate(-5px, 3px) rotate(90deg);
            }
        }
    }

    &__arr {
        width: 20px;
        transform: translateY(3px) rotate(90deg);
        transition: transform $time-fast $easing;
    }
}
