.lead {
    padding-top: 25px;
    width: 100%;
    margin: 0 auto;

    @include breakpoint(desktop) {
        padding-top: $gutter-width;
    }

    &__h1 {
        @include font-size(52, 1);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin-bottom: 15px;

        &--narrow {
            width: 100%;

            @include breakpoint(tablet) {
                width: 90%;
            }
        }

        @include breakpoint(tablet) {
            @include font-size(65, 1);
        }

        @include breakpoint(desktop) {
            @include font-size(100, 1);
        }
    }

    &__row {
        @include font-size(16, 22);
        font-family: $font-text;

        @include breakpoint(desktop) {
            @include flex(row, flex-start, flex-start);
        }
    }

    &__col {
        flex: 1;
        padding: 0 0 15px 0;
        // max-width: get-grid-width(4);
        width: 100%;
        margin-right: $gutter-width;

        @include breakpoint(desktop) {
            padding: 0 0 20px 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }
        p {
            @include breakpoint(phone) {
                @include font-size(14, 20);
            }
        }
    }

    &__em {
        @include font-size(18, 20);
        letter-spacing: -0.6px;
        font-weight: 700;

        @include breakpoint(desktop) {
            @include font-size(27, 33);
        }
    }

    &__image {
        width: 100%;
        line-height: 0;
        margin-bottom: 20px;
        overflow: hidden;

        @include breakpoint(desktop) {
            margin-bottom: 0;
        }

        img {
            max-width: 100%;
            width: 100%;
            transform: scale(1.1);
        }
    }
}
