.lightbox {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba($color-black, .8);
    color: $color-white;
    overflow: auto;
    z-index: -1;
    display: none;
    overflow: hidden;



    @include breakpoint(tablet-only) {
        top: 95px;
    }

    @include breakpoint(phone) {
        top: 90px;
    }

    &.is-open {
        @include z-index(lightbox);
        display: block;
    }
}
