.masonry {
    $gradient: linear-gradient(180deg, rgba($color-dark, 0) 0%, rgba($color-dark, 0.6) 100%);
    $col-h: 400px;
    $m-col-h: 300px;

    width: 100%;
    margin-top: 18px;

    &__intro {
        max-width: get-grid-width(8);
        width: 100%;
        @include font-size(16, 20);
        padding: 0 0 30px 0;

        @include breakpoint(tablet) {
            @include font-size(18, 22);
        }

        @include breakpoint(desktop) {
            @include font-size(18, 22);
            padding: 0 25px 30px 0;
        }
    }

    &__row {
        position: relative;
        // height: $m-col-h;
        // @include flex(row, space-between, center);
        margin-bottom: 0;

        @include breakpoint(desktop) {
            @include flex(row, space-between, center);
            margin-bottom: 23px;
            height: $col-h;
        }

        &--bottom {
            margin-bottom: 0;
        }
    }

    &__col {
        position: relative;
        min-height: $m-col-h;
        padding-bottom: 20px;

        @include breakpoint(desktop) {
            height: $col-h;
            padding-bottom: 0;
        }
    }

    &__tile {
        position: relative;
        padding: 25px 0 17px;
        height: 100%;
        min-height: $m-col-h;

        @include breakpoint(not-desktop) {
            @include flex(column, flex-start, flex-start);
        }

        @include breakpoint(desktop) {
            padding: 35px 0 20px;
        }
    }

    &__title {
        position: relative;
        max-width: 85%;

        // &:before {
        //     @include pseudo(20px, 100%, -1%, 0, $color-white, 0);
        //     height: calc(100% + 0.35vw);
        //     top: -0.2vw;
        // }

        h3 {
            // @include font-size(52, 1);
            @include font-size(30, 34);
            letter-spacing: -0.58px;
            text-transform: uppercase;

            @include breakpoint(tablet) {
                @include font-size(35, 39);
            }

            @include breakpoint(desktop) {
                font-size: 2.7vw;
            }

            .line {
                display: inline-block !important;
                padding: 0 10px 5px 10px;
                // background-color: $color-white;

                @include breakpoint(desktop) {
                    padding: 0 10px 5px 20px;
                }

                // &::before {
                //     @include pseudo(100%, 10px, -5px, 0, $color-white, 0);
                // }

                &:nth-of-type(1) {
                    padding-top: 10px;

                    &::before {
                        display: none;
                    }
                }

                &:last-of-type {
                    padding-bottom: 10px;
                }

                div {
                    z-index: 2;
                }
            }

            .line__bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-white;
                transform: scaleX(0);
                transform-origin: 0 0;
                z-index: 0;
            }
        }
    }

    &__text {
        color: $color-white;
        position: relative;
        z-index: 2;
        max-width: 100%;
        font-family: $font-text;
        padding: 14px 50px 0 20px;
        @include font-size(14, 20);
        @include num-of-lines(4);
        margin-bottom: 20px;

        @include breakpoint(tablet) {
            @include font-size(16, 22);
            padding: 20px 20px 0 20px;
        }

        @include breakpoint(desktop) {
            @include font-size(16, 22);
            @include num-of-lines(5);
            padding: 20px 20px 0 20px;
            margin-bottom: 0px;
        }

        @include breakpoint(hd) {
            max-width: 70%;
        }
    }

    &__logo {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        background-color: $color-black;
        @include flex(row, center, center);

        @include breakpoint(desktop) {
            width: 30px;
            height: 30px;
            top: 20px;
            right: 20px;
        }
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        &::after {
            @include pseudo(100%, 100%, 0, 0, transparent, 0);
            background: $gradient;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            // transform: scale(1.1);
        }
    }

    &__footer {
        position: absolute;
        width: calc(100% - 56px);
        bottom: 17px;
        height: 42px;
        right: 21px;
        @include flex(row, flex-end, center);
        z-index: 3;

        @include breakpoint(not-desktop) {
            position: relative;
            bottom: 0;
            right: 0;
            padding-right: 21px;
            align-self: flex-end;
            width: 100%;
            margin: auto 0 5px 0;
        }

        @include breakpoint(desktop) {
            right: 28px;
            bottom: 30px;
            height: auto;

            @include breakpoint(tablet-landscape) {
                bottom: 10px;
            }
            @include breakpoint(ipad-pro) {
                bottom: 10px;
            }
        }
    }
}
