.question {
    $title-color: #528fb5;
    $shadow-color: rgba(0, 0, 0, .8);
    $bg-color: $color-gray;

    display: block;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    .quiz--carousel & {
        background: $bg-color;
        box-shadow: 0 10px 24px -12px $shadow-color;
    }

    .quiz--stack & {
        display: flex;
        background: $bg-color;
    }

    @include breakpoint(desktop) {
        width: get-grid-width(8);
        margin: 0 get-grid-width(1, 2) * 0.5;

        .quiz--stack & {
            margin: 0 auto;
            min-height: 350px;
        }
    }



    // loader
    &::after {
        animation: question-loading 0.5s linear infinite;
        background-size: 30px 30px;
        background: repeating-linear-gradient(135deg, transparent, transparent 10px, $color-gray-4 10px, $color-gray-4 20px);
        bottom: 0;
        content: "";
        display: block;
        height: 8px;
        left: 0;
        position: absolute;
        right: 0;
        transform: translateY(100%);
        transition: transform 0.2s $easing;

    }

    &.is-pending::after {
        transform: translateY(0);
    }

    &.is-disabled {
        cursor: not-allowed;
        > * { pointer-events: none; }
    }



    &__field {
        border: none;
        margin: 25px auto 30px;
        width: 100%;

        @include breakpoint(tablet) {
            margin: 30px auto 20px * 2;
        }

        @include breakpoint(desktop) {
            width: get-grid-width(6);
            margin: 45px auto 20px * 3;
        }
    }



    &__label {
        position: relative;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $color-white;
        font-weight: 700;
        @include font-size(16, 16);

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: calc(50% - 15px);
            width: 30px;
            height: 2px;
            background-color: $color-white;
        }
    }



    &__text {
        @include font-size(18, 22);
        color: $color-white;
        margin-bottom: 25px * 1.4;
        margin: 0 auto 30px;
        text-align: center;
        width: 100%;

        .quiz--carousel & {
            color: $color-gray-3;
        }

        .question__label ~ & {
            margin-top: 20px;
        }

        @include breakpoint(iphone5) {
            @include font-size(16, 20);
        }

        @include breakpoint(tablet) {
            @include font-size(25, 29);
        }

        @include breakpoint(desktop) {
            @include font-size(24, 30);
        }

        @include breakpoint(not-desktop) {
            padding: 0 20px;
        }

        @include breakpoint(tablet-only) {
            padding: 0 36px;
        }
    }



    &__answers {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;

        @include breakpoint(tablet) {
            padding: 0 36px;
        }

        @include breakpoint(desktop) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-bottom: -26px;
            padding: 0;
        }
    }
}
