.quiz {
    padding: 0 28px;
    @include breakpoint(tablet) { padding: 0 56px; }
    @include breakpoint(desktop) { padding: 0; }


    &--carousel {
        .slick {
            &-arrow {
                z-index: 1;
                overflow: visible;
                position: absolute;
                top: 0;
                margin: auto;
                width: 30px;
                height: 30px;
                bottom: 0px;
                font-size: 10px;
                text-transform: uppercase;
                background-color: $color-white;
                border-radius: 50%;
                outline: 1px solid transparent;
                cursor: pointer;
                color: transparent !important;
                transition: opacity $time-fast;

                &.slick-disabled {
                    opacity: 0;
                }


                @include breakpoint(desktop) {
                    top: 0;
                    width: 50px;
                    height: 50px;
                    font-size: 13px;
                }


                &::after {
                    content: "";
                    @include full;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $color-dark;
                    transition: transform $time;
                }


                &:hover {
                    &::after {
                        transform: scale(1.1);
                        transition: transform $time;
                    }
                }
            }

            &-prev {
                left: calc(50% - #{get-grid-width(4) + 40px});

                @include breakpoint(not-desktop) {
                    left: -5px;
                }

                @include breakpoint(tablet-only) {
                    left: 70px;
                }

                &::after {
                    width: 20px;
                    height: 20px;
                    margin-left: 18px;
                    border-width: 0 0 2px 2px;
                    border-color: transparent transparent $color-dark $color-dark;
                    transform: rotate(45deg);

                    @include breakpoint(not-desktop) {
                        width: 12px;
                        height: 12px;
                        margin-left: 10px;
                    }
                }

                &:hover {
                    &::after {
                        transform: scale(1.1) rotate(45deg);
                    }
                }
            }

            &-next {
                right: calc(50% - #{get-grid-width(4) + 40px});

                @include breakpoint(not-desktop) {
                    right: -5px;
                }

                @include breakpoint(tablet-only) {
                    right: 70px;
                }


                &::after {
                    width: 20px;
                    height: 20px;
                    margin-right: 18px;
                    border-width: 2px 2px 0 0;
                    border-color: $color-dark $color-dark transparent transparent;
                    transform: rotate(45deg);

                    @include breakpoint(not-desktop) {
                        width: 12px;
                        height: 12px;
                        margin-right: 10px;
                    }
                }

                &:hover {
                    &::after {
                        transform: scale(1.1) rotate(45deg);
                    }
                }
            }

            &-list {
                @include breakpoint(not-desktop) {
                    overflow: visible;
                }
            }
        }
    }


    &__title {
        position: relative;
        display: block;
        font-weight: 400;
        @include font-size(30, 30);
        text-align: center;
        margin-top: 40px;
        color: $color-white;

        .quiz--carousel & {
            margin-top: 25px;
        }
    }



    &__subtitle {
        display: block;
        text-align: center;
        font-weight: 400;
    }



    &__list {
        text-align: center;

        .quiz__title + &,
        .quiz__subtitle + &,
        .quiz__title + .quiz__carousel &,
        .quiz__subtitle + .quiz__carousel & {
            margin-top: 40px;
        }

        .quiz--stack & {
            position: relative;
            height: 400px;
        }
    }



    &__item {
        width: auto;
        display: none;

        .quiz--stack & {
            display: none;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            &:first-of-type {
                display: inline-block;
            }
        }


        // disable accidental clicking in carousel:
        .quiz__carousel &:not(.slick-current ) {
            opacity: 0.6;

            .question { background: $color-dark; }

            form { pointer-events: none; }
        }

        .quiz__carousel & {

            @include breakpoint(not-desktop) {
                margin: 0 10px;
            }

            @include breakpoint(tablet-only) {
                width: 450px;
            }
        }
    }


    &__restart {
        position: absolute;
        z-index: 1;
        top: -10px;
        right: calc(50% - #{get-grid-width(4) + 30px});
        width: 50px;
        height: 50px;
        background-color: $color-white;
        border-radius: 50%;

        @include breakpoint(not-desktop) {
            right: -12px;
            width: 40px;
            height: 40px;
        }
    }
}


@import "modules/question";
@import "modules/answer";
