.zoom {
    display: flex;
    flex-direction: column;
    height: var(--app-height);
    overflow: hidden;
    padding: 50px 0 0;
    text-align: center;

    @include breakpoint(not-desktop) {
        flex-direction: column-reverse;
        justify-content: center;
    }


    &__wrapper {
        position: relative;
        overflow: hidden;

        @include breakpoint(desktop) {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
        }


        @include breakpoint(not-desktop) {
            height: 66vw;
        }
    }


    &__image-wrap {
        @include full;
        min-width: 100%;
        min-height: 100%;

        img {
            display: inline-block;
            vertical-align: middle;
            pointer-events: none;
            max-width: none;
            width: auto;
        }
    }


    &__controls {
        margin: 10px 0;
        text-align: left;

        @include breakpoint(not-desktop) {
            text-align: right;
            margin: 10px 28px;
        }

        button {
            display: inline-block;
            position: relative;
            width: 26px;
            height: 26px;
            margin: 0 10px 0 0;
            border-radius: 50%;
            border: 1px solid currentColor;

            @include breakpoint(not-desktop) {
                margin: 0 0 0 10px;
            }
        }
    }


    &__title {
        margin-bottom: 16px;
        @include font-size(20, 24);
    }


    &__subtitle {
        @include font-size(16, 24);
    }


    &__description {
        @include font-size(12, 30);
    }
}
