<div data-component="Evaluation" data-options='{"url": "clap", "like": true}' class="evaluation">
    <span class="evaluation__icon">
      [[svg::clap]]
      <span class="evaluation__circle js-clap-circle"></span>
    </span>
    <span class="evaluation__number js-evaluation">0</span>
</div>
