<div data-component="Evaluation" data-options='{"url": "clap", "like": false}' class="evaluation evaluation--dislike">
    <span class="evaluation__icon">
        [[svg::dislike]]
        <span class="evaluation__circle js-clap-circle"></span>
    </span>
    <span class="evaluation__number js-evaluation">123</span>
</div>