<div class="heading" data-animation="heading">
    <h2 class="heading__title js-title">{{title}}</h2>
    <a href="" class="more more--all"><i>view all</i><span></span><span></span><span></span></a>
    <div class="heading__decors">
        <hr class="heading__hr js-heading-hr">
        <img src="./media/dots-dark.png" alt="" class="heading__dots">
        <hr class="heading__hr js-heading-hr">
    </div>
</div>
