<div class="share" data-component="Tooltip">
    <div class="share__title">Share dashboard</div>
    <a href="" data-share class="js-share-element">[[svg::csv-icon]]</a>
    <a href="" data-share class="js-share-element">[[svg::pdf-icon]]</a>
    <a href="" data-share class="js-share-element">[[svg::json-icon]]</a>
    <a href="" data-share class="js-share-element">[[svg::link-icon]]</a>
    <button class="share__button js-toggle">
        [[svg::social-icon]]
    </button>
    <div class="share__tooltip">
        {% include '../components/social.twig' with social %}
    </div>
</div>