<div class="share" data-component="Tooltip">
    <div class="share__title">Share dashboard</div>
    <a href="" class="js-share-element">[[svg::csv-icon]]</a>
    <a href="" class="js-share-element">[[svg::pdf-icon]]</a>
    <a href="" class="js-share-element">[[svg::json-icon]]</a>
    <button data-copy class="social__item js-share-element">
        <span>[[svg::link-icon]]</span>
        <span class="copied">is copied!</span>
    </button>
    <button class="share__button js-toggle">
        [[svg::social-icon]]
    </button>
    <div class="share__tooltip">
        {% include '../components/social.twig' with social %}
    </div>
</div>