<div class="subscribe{% if subscribe.small %} subscribe--small{% endif %}">
    <form action="/api/newsletter_add" data-api='{"beforeCall": "validate", "callback": "onSubscribe"}' novalidate="novalidate">
        {% if subscribe.small %}
        <div class="subscribe__lead"><span class="subscribe__em">Join</span> the<br> climate<br> movement<br> today.</div>
        {% endif %}
        <label class="subscribe__label">
        Join the crew of nearly 1M climate activists and stay connected to what matters most.
        </label>
        <div class="subscribe__row">
            <input class="subscribe__input" aria-label="e-mail" type="email" name="email" placeholder="Please enter your email" required />        
            <button class="subscribe__button" type="submit">[[svg::triangle]]</button>
            <div class="subscribe__error error--input"></div>
        </div>
        <div id="newsletter-result" class="subscribe__result"></div>
    </form>
</div>