<figure class="video">
    {# <div class="player player--vimeo" data-component="VimeoCustom" data-options='{"id": "161323409", "poster": "http://assets.huncwot.net/video.jpg"}'></div> #}
    <div class="player player--vimeo" data-component="VimeoCustom" data-options='{"id": "{{id}}", "poster": "{{poster}}"}'></div>
</figure>