.cc {
  overflow: visible !important;

  &__button {
    &::before {
      content: "CC";
      @include font-size(12, 24);
      font-weight: 100;
      letter-spacing: 1px;
      display: block;
      background: transparent;
      color: $color-white;
      border: 1px solid rgba($button-color, $button-opacity);
      border-radius: 5px;
      padding: 0 6px;

      .is-active & {
        color: $color-black;
        background: $button-color;
      }
    }
  }

  &__item {
    @include font-size(13, 16);
    padding: 8px 16px;
    background: rgba($bar-color, $bar-opacity);

    span {
      opacity: 0.9;
    }

    @include hover {
      background: rgba($bar-color, 0.8);
      span {
        opacity: 1;
      }
    }

    &.is-active {
      color: $color-black;
    }
  }
}
