.player {
  color: $color-white;
  width: 100%;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  user-select: none;
  pointer-events: none;

  .is-active &,
  .module--video-text &,
  .slider--phone-disable & {
    pointer-events: all;
  }

  @include hover {
    .player__button {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  @include breakpoint(desktop) {
    .slider & {
      width: 768px;

      @include breakpoint(tablet-landscape) {
        width: 618px;
      }
      @include breakpoint(ipad-pro) {
        width: 618px;
      }
    }

    .slider--full & {
      width: 654px;
      // height: 374px;
    }

    .tile & {
      width: 100%;
      height: 100%;
    }
  }

  &--video,
  &--vimeo,
  &--youtube {
    .player__wrapper {
      height: 0;
    }
  }

  &--full-height {
    &:not(figure) {
      overflow: hidden;
    }

    @include breakpoint(not-desktop) {
      #main & {
        height: #{var(--app-height)} + #{$nav-height};
        width: auto;
      }
    }
    // width: 100vw;
    // @include breakpoint(desktop) {
    // }
    // @include breakpoint(tablet-only) {
    //   height: 56vw;
    // }
    // @include breakpoint(phone) {
    //   height: 56vw;
    // }
  }

  &--audio {
    height: 55px;
    z-index: 11;

    .player__wrapper {
      padding-top: 0 !important;
    }
  }

  video,
  iframe {
    background-color: $color-black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &--vimeo .vimeo {
    height: calc(100% + 280px);
    top: -140px;
    left: 0;
    right: 0;
    position: absolute;
  }

  &__wrapper {
    position: relative;
  }

  &__toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 1;
    background: rgba($bar-color, $bar-opacity);

    .icon-toggleplay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      vertical-align: top;
      margin-left: 2px;
    }
  }

  &__poster {
    @include full;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
  }

  &__captions {
    background: rgba($bar-color, $bar-opacity);
    position: absolute;
    padding: 0 6px;
    bottom: 100%;
    margin-bottom: 40px;
    text-align: center;
    left: 50%;
    @include font-size(18);
    transform: translateX(-50%);
  }

  &__spots {
    position: relative;
    top: 50%;
    height: 1px;
  }

  &__spot {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #cdcdcd;
      transition: transform $time $easing;
    }

    &:hover {
      span {
        transform: translate(-50%, -50%) scale(1.4);
      }
    }

    &.active {
      span {
        transform: translate(-50%, -50%) scale(1.4);
        background-color: #cc0000;
      }
    }
  }

  &__hotspot {
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    width: 100%;
    max-width: 320px;
    padding: 40px 20px;
    opacity: 0;
    transform: translate(-20%, -50%);
    z-index: 5;
    background: rgba(0, 0, 0, 0.2);
    transition: transform $time $easing, opacity $time $easing;

    @include breakpoint(not-desktop) {
      top: 50% !important;
      left: 0 !important;
      transform: translate(-100%, -50%);
      padding: 20px;
    }

    p {
      transition: color $time $easing;

      @include breakpoint(not-desktop) {
        padding: 0;
      }
    }

    &:hover {
      p {
        color: $color-lemon;
      }
    }

    &.active {
      pointer-events: all;
      opacity: 1;
      transform: translate(0, -50%);

      @include breakpoint(not-desktop) {
        transform: translate(5px, -50%);
      }
    }

    .is-lightbox & {
      pointer-events: none;
      cursor: pointer;

      &.active {
        opacity: 0;
        transform: translate(-20%, -50%);

        @include breakpoint(not-desktop) {
          transform: translate(-100%, -50%);
        }
      }
    }
  }

  &__lightbox {
    pointer-events: none;
    position: absolute;
    width: 100%;
    max-width: 630px;
    padding: 40px 50px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -100%);
    backface-visibility: hidden;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
    transition: transform $time $easing, opacity $time $easing;
    will-change: transform;

    @include breakpoint(not-desktop) {
      padding: 20px 40px 40px;
      height: auto;
      top: 50%;

      @include breakpoint(tablet) {
        top: 50%;
      }
    }

    .text {
      @include breakpoint(not-desktop) {
        padding: 0;
        @include breakpoint(phone) {
          @include font-size(12, 20);
        }
      }
    }

    .btn__close {
      top: 20px;
      right: 20px;
      transition: transform $time $easing;

      &:hover {
        transform: rotate(90deg);
      }

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    &.active {
      opacity: 1;
      transform: translate(-50%, -50%);

      @include breakpoint(not-desktop) {
        transform: translate(-50%, -65%);

        webkit-transform: translate3d(-50%, -65%, 0);

        @include breakpoint(tablet) {
          transform: translate(-50%, -80%);
        }
      }

      .btn__close {
        pointer-events: all;
      }
    }

    .heading {
      margin-bottom: 20px;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 67px;
    height: 67px;
    transform: translate(-50%, -50%);
    transition: opacity $time-fast $easing, transform $time-fast $easing;

    .is-playing & {
      opacity: 0;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.youtube {
  width: 100%;
  height: 100%;
}

.is-covering video {
  height: auto;
}

.ytp-large-play-button,
.ytp-button {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}
