$bar-height: 60px;
$bar-color: $color-black;
$bar-opacity: 1;

$button-color: $color-white;
$button-opacity: 1;
$button-hover-opacity: 0.7;

$scrubber-height: 4px;
$scrubber-opacity: 1;
$scrubber-color: $color-white;

$loaded-color: $color-white;
$loaded-opacity: 1;

$progress-color: $color-white;
$progress-opacity: 1;

$scrubber-button-color: $color-white;
