@import "fonts/quicksand/300";
@import "fonts/quicksand/400";
@import "fonts/quicksand/500";
@import "fonts/quicksand/700";
@import "fonts/poiretone/400";
@import "fonts/poppins/400";
@import "fonts/poppins/300";
@import "fonts/poppins/500";
@import "fonts/poppins/700";

$font-poiret: "Poiret One", sans-serif;
$font-sans: "Quicksand", sans-serif;
$font-second: "Poppins", sans-serif;
$font-text: $font-sans;
