@import "fonts/quicksand/400";
@import "fonts/quicksand/500";
@import "fonts/quicksand/700";
@import "fonts/display/400";

$font-sans: "SFNS Display", sans-serif;
$font-text: "Quicksand", sans-serif;

// Font sizes
$h1: 60;
$h2: 36;
$h3: 24;
$h4: 20;
$h5: 18;

$p1: 16;
$p2: 14;
$p3: 12;
