@import "fonts/quicksand/300";
@import "fonts/quicksand/400";
@import "fonts/quicksand/500";
@import "fonts/quicksand/700";
@import "fonts/poiretone/400";
@import "fonts/kanit/400";
@import "fonts/kanit/300";
@import "fonts/kanit/500";
@import "fonts/kanit/700";

$font-poiret: "Poiret One", sans-serif;
$font-sans: "Quicksand", sans-serif;
$font-second: "Kanit", sans-serif;
$font-text: $font-sans;
