.module {
    position: relative;
    z-index: 2;
    background-color: $color-white;
    padding: 35px 0;

    &--footer {
        padding-bottom: 25px;
    }

    &--dashboard {
        z-index: 4;
    }
}
