$size-hd: 1600px;
$size-desktop: 1024px;
$size-tablet: 768px;
$size-laptop: 720px;
$size-phone5: 568px;
$size-min: 320px;

$color-black: #000;
$color-white: #fff;
$color-pale: #f5f3f0;

$color-dim: #030001;
// $color-dark: #2d2c31;
$color-cement: #33342d;
// $color-gray-light: #808080;
$color-silver: #eae9e9;
$color-yellow: #f5f300;
$color-pink: #ff49cd;
$color-darkgreen: #5e7c30;

$color-twitter: #00acee;
$color-facebook: #3b5998;
$color-pinterest: #c8232c;
$color-linkedin: #0e76a8;

/// CLIMAT TRACE

$color-dark: #212121;
$color-mirage: #1d2f36;
$color-mine-shaft: #2b2b2b;
$color-tundora: #414041;
$color-gray: #363636;
$color-silver: #a4a4a4;
$color-gray-light: #979797;
$color-pale: #e8eaee;
$color-blue: #02b3fd;

$color-theme: $color-dark;
$color-accent: $color-blue;

$color-mint: #4fdbc5;
$color-sea: #26bbe3;
$color-orange: #fc8c59;
$color-beige: #fdd49e;
$color-darkblue: #5877cc;
$color-cinnabar: #e75040;
$color-pink: #b60e63;
$color-cement: #888788;

$color-gray: #585858;

$color-bg: $color-pale;
$color-text: $color-white;

$gutter-width: 32px;
$nav-height: 71px;
$nav-height-m: 50px;
$aside-width: 350px;
$aside-width-margin: 385px;
$m-aside-width: 100vw;

$radius: 10px;

$time: 0.5s;
$time-fast: 0.25s;

$ease-in: cubic-bezier(0.895, 0.03, 0.685, 0.22); // quart
$ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out: cubic-bezier(0.6, 0, 0.18, 1.14);

$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-custom: cubic-bezier(0.5, 0, 0.1, 1);
$easing: $ease-custom;

$elements: "", content, options, progressbar, navigation, social, lightbox;
