<aside class="aside" data-component="Aside">
    <div class="aside__wrapper">
        <ul class="aside__menu">
            <li class="aside__item js-item"><a href="/">Home</a></li>
            <li class="aside__item js-item"><a href="/dashboard.html">Dashboard</a></li>
            <li class="aside__item js-item"><a href="/explore.html">Explore by sector</a></li>
            <li class="aside__item js-item"><a href="/highlights.html">Data Highlights</a></li>
            <li class="aside__item js-item"><a href="/contribute.html">Contribute</a></li>
            <li class="aside__item js-item"><a href="#about">About Climate Trace</a></li>
        </ul>
    </div>
</aside>