<aside class="aside">
    <div class="aside__wrapper">
        <ul class="aside__menu">
            <li class="aside__item"><a href="/dist">Home</a></li>
            <li class="aside__item"><a href="/dist/dashboard.html">Dashboard</a></li>
            <li class="aside__item"><a href="/dist/editions.html">Explore by sector</a></li>
            <li class="aside__item"><a href="/dist/editions.html">Data Highlights</a></li>
            <li class="aside__item"><a href="/dist/editions.html">Methodology</a></li>
            <li class="aside__item"><a href="/dist/editions.html">Contribute</a></li>
            <li class="aside__item"><a href="/dist/editions.html">About Climate Trace</a></li>
        </ul>
    </div>
</aside>