<aside class="aside" data-component="Aside">
    <div class="aside__wrapper">
        <ul class="aside__menu">
            <li class="aside__item js-item"><a href="/">Home</a></li>
            <li class="aside__item js-item"><a href="/dashboard.html">Dashboard</a></li>
            <li class="aside__item js-item"><a href="/dashboard.html">Explore by sector</a></li>
            <li class="aside__item js-item"><a href="#highlights">Data Highlights</a></li>
            <li class="aside__item js-item"><a href="#methodology">Methodology</a></li>
            <li class="aside__item js-item"><a href="#contribute">Contribute</a></li>
            <li class="aside__item js-item"><a href="#about">About Climate Trace</a></li>
        </ul>
    </div>
</aside>