<aside class="aside" data-component="Aside">
    <div class="aside__wrapper">
        <ul class="aside__menu">
            <li class="aside__item js-item"><a href="/">Home</a></li>
            <li class="aside__item js-item"><a href="/dashboard.html">Dashboard</a></li>
            <li class="aside__item js-item"><a href="/editions.html">Explore by sector</a></li>
            <li class="aside__item js-item"><a href="/editions.html">Data Highlights</a></li>
            <li class="aside__item js-item"><a href="/editions.html">Methodology</a></li>
            <li class="aside__item js-item"><a href="/editions.html">Contribute</a></li>
            <li class="aside__item js-item"><a href="/editions.html">About Climate Trace</a></li>
        </ul>
    </div>
</aside>